@import '../../src/global/_vars';
@import '../../src/global/_mixins';
@import "../../src/global/_common";
@import "../../src/global/_forms";

@import '../../src/common/footer';
@import '../../src/common/auth';
@import '../../src/common/header';
@import '../../src/common/hero';
@import '../../src/common/segment';
@import '../../src/common/search_field';
@import '../../src/common/features';
@import '../../src/common/details-list';
@import '../../src/common/flash';
@import "../../src/common/pagination";

.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.webpush-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.webpush--buttons_area {
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.close-webpush-modal {
  position: absolute;
  top: -15px;
  right: -15px;
  color: red;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.pagy-nav {
  display: inline-flex; 
  position: relative; 
  z-index: 0; 
  display: inline-flex; 
  border-radius: 0.375rem; 
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled {
  display: inline-flex; 
  position: relative; 
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  background-color: #ffffff; 
  color: #6B7280; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  display: inline-flex; 
  align-items: center; 
  border-width: 1px; 
  border-color: #D1D5DB;
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled {
  color: #a1a4aa;
}

.pagy-nav .page.prev,
.pagy-nav .page.prev a {
  /* @apply rounded-l-lg; */
}

.pagy-nav .page.next,
.pagy-nav .page.next a {
  /* @apply rounded-r-lg; */
}

.pagy-nav .page.gap {
  margin-left: 0.25rem;
  margin-right: 0.25rem; 
}

.pagy-nav .page.active {
  display: inline-flex; 
  position: relative; 
  z-index: 10; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  background-color: #EFF6FF; 
  color: #2563EB; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  display: inline-flex; 
  align-items: center; 
  border-width: 1px; 
  border-color: #3B82F6;
}

@media only screen and (max-width: 767px) {
  .hide-table-header {
      display: none;
  }
}

.ui.right.sidebar.visible a.item:hover {
  color: rgb(11, 79, 11);
}

.ui.right.sidebar.visible a.item.active {
  background-color: #DCDCDC;
  font-weight: bold;
}

.menu-main a.item.active {
  background-color: green;
}

/* ============== GDPR Banner ========= */

#gdpr-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4CAF50;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0.9;
}

#gdpr-banner .content {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

#gdpr-banner .content a {
  color: white;
  text-decoration: underline;
}

#gdpr-banner .content a:hover {
  color: white;
  text-decoration: none;
}

#gdpr-banner .content p {
  margin-bottom: 10px;
}

#gdpr-banner .content button {
  margin-right: 10px;
}



#custom-options {
  margin-top: 20px;
  text-align: left;
}

#custom-options label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

#custom-options label input {
  margin-right: 10px;
}

#custom-options p {
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
/* ============= */