.details-list {
    &.centered-list {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: flex;
                align-items: flex-start;
                border-top: 1px solid $grey3;
                padding: 19px 0 20px;
                font-size: 18px;
                line-height: 20px;
                &:last-child {
                    border-bottom: 1px solid $grey3;
                    padding-bottom: 19px;
                }
            }
        }
        .label {
            font-weight: 900;
            flex: 0 0 190px;
            margin-right: 40px;
        }
        .value {
            flex: 1;
        }
        .narrow-label {
            .details-list {
                .label {
                    flex: 0 0 110px;
                }
            }
        }
    }

    @include max-screen(479px) {
        &.centered-list {
            ul {
                li {
                    display: block;
                    padding: 9px 0 10px;
                    &:last-child {
                        padding-bottom: 9px;
                    }
                }
            }
            .label {
                margin-right: 0;
                margin-bottom: 10px;
            }
            .label, .value {
                display: block;
            }
        }
    }
}
