/* FONTS */
@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
  url('../../src/fonts/Raleway-v4020-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin'), local('Raleway-Thin'),
  url('../../src/fonts/Raleway-v4020-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Regular'), local('Raleway-Regular'),
  url('../../src/fonts/Raleway-v4020-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
  url('../../src/fonts/Raleway-v4020-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
  url('../../src/fonts/Raleway-v4020-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
  url('../../src/fonts/Raleway-v4020-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
  url('../../src/fonts/Raleway-v4020-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
  url('../../src/fonts/Raleway-v4020-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Medium'), local('Raleway-Medium'),
  url('../../src/fonts/Raleway-v4020-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Bold'), local('Raleway-Bold'),
  url('../../src/fonts/Raleway-v4020-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
  url('../../src/fonts/Raleway-v4020-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
  url('../../src/fonts/Raleway-v4020-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light'), local('Raleway-Light'),
  url('../../src/fonts/Raleway-v4020-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
  url('../../src/fonts/Raleway-v4020-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Black'), local('Raleway-Black'),
  url('../../src/fonts/Raleway-v4020-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
  url('../../src/fonts/Raleway-v4020-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway Italic'), local('Raleway-Italic'),
  url('../../src/fonts/Raleway-v4020-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
  url('../../src/fonts/Raleway-v4020-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  &.u-menu-open{
    overflow: hidden;
    height: 100vh;
  }
}

.app-wrapper {
  position: relative;
  left: 0;
  transition: left .5s ease-in-out;
  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    min-height: 100vh;
    background: $darkblue;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    z-index: 99998;
  }
  .u-menu-open & {
    left: -320px;
    pointer-events: none;
    user-select: none;
    &:after {
      opacity: .5;
      visibility: visible;
    }
  }
}

a {
  color: $base-blue;
  text-decoration: none;
  transition: color .3s ease-in-out;
  img {
    border-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 900;
}

::-webkit-input-placeholder {
  color: $black;
}
::-moz-placeholder {
  color: $black;
}
:-ms-input-placeholder {
  color: $black;
}
:-moz-placeholder {
  color: $black;
}

.clearfix {
  zoom: 1;
  clear: both;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.u-invisible {
  position: absolute;
  top: 0;
  left: -99999px;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}
.u-container {
  @include container;
}

.loading {
  padding: 80px 0;
  .ui.loader {
    position: static;
    margin: 0 auto;
    font-size: 40px;
    transform: translateX(0) translateY(0);
  }
  h2 {
    margin-top: 20px;
  }
}
.status--message.ui {
  margin: -40px 0 0;
  padding: 120px 50px 80px;
  background: #fff;
  text-align: center;
  border: 0;
  border-radius: 0;
  .header:not(.ui) {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
  }
  &.positive {
    color: #fff;
    background: $green;
    box-shadow: none;
  }
  &.negative {
    color: #fff;
    background: $orange;
    box-shadow: none;
  }
}

.padded-block {
  &.ui.segment {
    margin: 40px auto 60px auto;
  }
}
