.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #A7A8AA, -1px 0 0 #A7A8AA, 0 1px 0 #A7A8AA, 0 -1px 0 #A7A8AA, 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 #A7A8AA, -1px 0 0 #A7A8AA, 0 1px 0 #A7A8AA, 0 -1px 0 #A7A8AA, 0 3px 13px rgba(0, 0, 0, 0.08);
  &.open, &.inline {
    opacity: 1;
    max-height: 640px;
    visibility: visible;
  }
  &.open {
    display: inline-block;
    z-index: 99999;
  }
  &.animate.open {
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &.inline {
    display: block;
    position: relative;
    top: 2px;
  }
  &.static {
    position: absolute;
    top: calc(100% + 2px);
    &.open {
      z-index: 999;
      display: block;
    }
  }
  &.multiMonth .flatpickr-days .dayContainer {
    &:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    &:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
      -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
      box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
    }
  }
  .hasWeeks .dayContainer, .hasTime .dayContainer {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .hasWeeks .dayContainer {
    border-left: 0;
  }
  &.showTimeInput.hasTime .flatpickr-time {
    height: 40px;
    border-top: 1px solid #A7A8AA;
  }
  &.noCalendar.hasTime .flatpickr-time {
    height: auto;
  }
  &:before, &:after {
    position: absolute;
    display: block;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    left: 22px;
  }
  &.rightMost {
    &:before, &:after {
      left: auto;
      right: 22px;
    }
  }
  &:before {
    border-width: 5px;
    margin: 0 -5px;
  }
  &:after {
    border-width: 4px;
    margin: 0 -4px;
  }
  &.arrowTop {
    &:before, &:after {
      bottom: 100%;
    }
    &:before {
      border-bottom-color: #A7A8AA;
    }
    &:after {
      border-bottom-color: #fff;
    }
  }
  &.arrowBottom {
    &:before, &:after {
      top: 100%;
    }
    &:before {
      border-top-color: #A7A8AA;
    }
    &:after {
      border-top-color: #fff;
    }
  }
  &:focus {
    outline: 0;
  }
}

.flatpickr-wrapper {
  position: relative;
  display: inline-block;
}

.flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  .flatpickr-month {
    background: transparent;
    color: $black;
    fill: $black;
    height: 28px;
    line-height: 1;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .flatpickr-prev-month, .flatpickr-next-month {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    line-height: 16px;
    height: 28px;
    padding: 10px;
    z-index: 3;
    color: $black;
    fill: $black;
  }
  .flatpickr-prev-month.disabled, .flatpickr-next-month.disabled {
    display: none;
  }
  .flatpickr-prev-month i, .flatpickr-next-month i {
    position: relative;
  }
  .flatpickr-prev-month.flatpickr-prev-month {
    /*
          /*rtl:begin:ignore*/
    /*
          */
    left: 0;
    /*
          /*rtl:end:ignore*/
    /*
          */
  }
  .flatpickr-next-month {
    &.flatpickr-prev-month {
      /*
            /*rtl:begin:ignore*/
      /*
            */
      left: 0;
      /*
            /*rtl:end:ignore*/
      /*
            */
      /*
            /*rtl:begin:ignore*/
      /*
            */
      right: 0;
      /*
            /*rtl:end:ignore*/
      /*
            */
    }
    &.flatpickr-next-month {
      /*
            /*rtl:begin:ignore*/
      /*
            */
      right: 0;
      /*
            /*rtl:end:ignore*/
      /*
            */
    }
  }
  .flatpickr-prev-month:hover, .flatpickr-next-month:hover {
    color: $base-blue;
  }
  .flatpickr-prev-month:hover svg, .flatpickr-next-month:hover svg {
    fill: $base-blue;
  }
  .flatpickr-prev-month svg, .flatpickr-next-month svg {
    width: 14px;
    height: 14px;
  }
  .flatpickr-prev-month svg path, .flatpickr-next-month svg path {
    -webkit-transition: fill 0.1s;
    transition: fill 0.1s;
    fill: inherit;
  }
}

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/

.numInputWrapper {
  position: relative;
  height: auto;
  input, span {
    display: inline-block;
  }
  input {
    width: 100%;
    &::-ms-clear {
      display: none;
    }
  }
  span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid rgba(64, 72, 72, 0.15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &:active {
      background: rgba(0, 0, 0, 0.2);
    }
    &:after {
      display: block;
      content: "";
      position: absolute;
    }
    &.arrowUp {
      top: 0;
      border-bottom: 0;
      &:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid rgba(64, 72, 72, 0.6);
        top: 26%;
      }
    }
    &.arrowDown {
      top: 50%;
      &:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid rgba(64, 72, 72, 0.6);
        top: 40%;
      }
    }
    svg {
      width: inherit;
      height: auto;
      path {
        fill: rgba(60, 63, 64, 0.5);
      }
    }
  }
  &:hover {
    background: rgba(0, 0, 0, 0.05);
    span {
      opacity: 1;
    }
  }
}

.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 500;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 6.16px 0 0 0;
  line-height: 1;
  height: 28px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  span.cur-month {
    font-family: inherit;
    font-weight: 900;
    color: inherit;
    display: inline-block;
    margin-left: 0.5ch;
    padding: 0;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  .numInputWrapper {
    width: 6ch;
    width: 7ch\0;
    display: inline-block;
    span {
      &.arrowUp:after {
        border-bottom-color: $black;
      }
      &.arrowDown:after {
        border-top-color: $black;
      }
    }
  }
  input.cur-year {
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    cursor: text;
    padding: 0 0 0 0.5ch;
    margin: 0;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial;
    &:focus {
      outline: 0;
    }
    &[disabled] {
      font-size: 100%;
      color: rgba(60, 63, 64, 0.5);
      background: transparent;
      pointer-events: none;
      &:hover {
        font-size: 100%;
        color: rgba(60, 63, 64, 0.5);
        background: transparent;
        pointer-events: none;
      }
    }
  }
}

.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
  .flatpickr-weekdaycontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  background: transparent;
  color: #A7A8AA;
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bolder;
}

.dayContainer, .flatpickr-weeks {
  padding: 1px 0 0 0;
}

.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 307.875px;
  &:focus {
    outline: 0;
  }
}

.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  + .dayContainer {
    -webkit-box-shadow: -1px 0 0 #A7A8AA;
    box-shadow: -1px 0 0 #A7A8AA;
  }
}

.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #404848;
  cursor: pointer;
  font-weight: 500;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  &.inRange, &.prevMonthDay.inRange, &.nextMonthDay.inRange, &.today.inRange, &.prevMonthDay.today.inRange, &.nextMonthDay.today.inRange, &:hover, &.prevMonthDay:hover, &.nextMonthDay:hover, &:focus, &.prevMonthDay:focus, &.nextMonthDay:focus {
    cursor: pointer;
    outline: 0;
    background: #e9e9e9;
    border-color: #e9e9e9;
  }
  &.today {
    border-color: $base-blue;
    &:hover, &:focus {
      border-color: $base-blue;
      background: $base-blue;
      color: #fff;
    }
  }
  &.selected, &.startRange, &.endRange, &.selected.inRange, &.startRange.inRange, &.endRange.inRange, &.selected:focus, &.startRange:focus, &.endRange:focus, &.selected:hover, &.startRange:hover, &.endRange:hover, &.selected.prevMonthDay, &.startRange.prevMonthDay, &.endRange.prevMonthDay, &.selected.nextMonthDay, &.startRange.nextMonthDay, &.endRange.nextMonthDay {
    background: $base-darkblue;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-weight: 900;
    border-color: $base-darkblue;
  }
  &.selected.startRange, &.startRange.startRange, &.endRange.startRange {
    border-radius: 50px 0 0 50px;
  }
  &.selected.endRange, &.startRange.endRange, &.endRange.endRange {
    border-radius: 0 50px 50px 0;
  }
  &.selected.startRange + .endRange:not(:nth-child(7n+1)), &.startRange.startRange + .endRange:not(:nth-child(7n+1)), &.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 $base-darkblue;
    box-shadow: -10px 0 0 $base-darkblue;
  }
  &.selected.startRange.endRange, &.startRange.startRange.endRange {
    border-radius: 50px;
  }
  &.inRange {
    border-radius: 0;
    -webkit-box-shadow: -5px 0 0 #e9e9e9, 5px 0 0 #e9e9e9;
    box-shadow: -5px 0 0 #e9e9e9, 5px 0 0 #e9e9e9;
  }
  &.disabled {
    color: rgba(64, 72, 72, 0.3);
    background: transparent;
    border-color: #e9e9e9;
    cursor: default;
    &:hover {
      color: rgba(64, 72, 72, 0.3);
      background: transparent;
      border-color: #e9e9e9;
      cursor: default;
    }
  }
  &.prevMonthDay, &.nextMonthDay {
    color: rgba(64, 72, 72, 0.3);
    background: transparent;
    border-color: #e9e9e9;
    cursor: default;
  }
  &.notAllowed {
    color: rgba(64, 72, 72, 0.3);
    background: transparent;
    border-color: #e9e9e9;
    cursor: default;
    &.prevMonthDay, &.nextMonthDay {
      color: rgba(64, 72, 72, 0.3);
      background: transparent;
      border-color: #e9e9e9;
      cursor: default;
    }
  }
  &.disabled {
    cursor: not-allowed;
    color: rgba(64, 72, 72, 0.1);
    &:hover {
      cursor: not-allowed;
      color: rgba(64, 72, 72, 0.1);
    }
  }
  &.week.selected {
    border-radius: 0;
    -webkit-box-shadow: -5px 0 0 $base-darkblue, 5px 0 0 $base-darkblue;
    box-shadow: -5px 0 0 $base-darkblue, 5px 0 0 $base-darkblue;
  }
  &.hidden {
    visibility: hidden;
  }
}

.rangeMode .flatpickr-day {
  margin-top: 1px;
}

.flatpickr-weekwrapper {
  display: inline-block;
  float: left;
  .flatpickr-weeks {
    padding: 0 12px;
    -webkit-box-shadow: 1px 0 0 #A7A8AA;
    box-shadow: 1px 0 0 #A7A8AA;
  }
  .flatpickr-weekday {
    float: none;
    width: 100%;
    line-height: 28px;
  }
  span.flatpickr-day {
    display: block;
    width: 100%;
    max-width: none;
    color: rgba(64, 72, 72, 0.3);
    background: transparent;
    cursor: default;
    border: none;
    &:hover {
      display: block;
      width: 100%;
      max-width: none;
      color: rgba(64, 72, 72, 0.3);
      background: transparent;
      cursor: default;
      border: none;
    }
  }
}

.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .numInputWrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 40%;
    height: 40px;
    float: left;
    span {
      &.arrowUp:after {
        border-bottom-color: #404848;
      }
      &.arrowDown:after {
        border-top-color: #404848;
      }
    }
  }
  &.hasSeconds .numInputWrapper {
    width: 26%;
  }
  &.time24hr .numInputWrapper {
    width: 49%;
  }
  input {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    color: #404848;
    font-size: 14px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &.flatpickr-hour {
      font-weight: bold;
    }
    &.flatpickr-minute, &.flatpickr-second {
      font-weight: 500;
    }
    &:focus {
      outline: 0;
      border: 0;
    }
  }
  .flatpickr-time-separator {
    height: inherit;
    display: inline-block;
    float: left;
    line-height: inherit;
    color: #404848;
    font-weight: bold;
    width: 2%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .flatpickr-am-pm {
    height: inherit;
    display: inline-block;
    float: left;
    line-height: inherit;
    color: #404848;
    font-weight: bold;
    width: 2%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
  }
  input:hover, .flatpickr-am-pm:hover, input:focus, .flatpickr-am-pm:focus {
    background: #f6f6f6;
  }
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.flatpickr-calendar {
  width: 307.875px;
}

.dayContainer {
  padding: 0;
  border-right: 0;
}

span.flatpickr-day {
  border-radius: 0 !important;
  border: 1px solid #e9e9e9;
  max-width: none;
  border-right-color: transparent;
  &.prevMonthDay, &.nextMonthDay {
    border-radius: 0 !important;
    border: 1px solid #e9e9e9;
    max-width: none;
    border-right-color: transparent;
  }
  &:nth-child(n+8), &.prevMonthDay:nth-child(n+8), &.nextMonthDay:nth-child(n+8) {
    border-top-color: transparent;
  }
  &:nth-child(7n-6), &.prevMonthDay:nth-child(7n-6), &.nextMonthDay:nth-child(7n-6) {
    border-left: 0;
  }
  &:nth-child(n+36), &.prevMonthDay:nth-child(n+36), &.nextMonthDay:nth-child(n+36) {
    border-bottom: 0;
  }
  &:nth-child(-n+7), &.prevMonthDay:nth-child(-n+7), &.nextMonthDay:nth-child(-n+7) {
    margin-top: 0;
  }
  &.today:not(.selected), &.prevMonthDay.today:not(.selected), &.nextMonthDay.today:not(.selected) {
    border-color: #e9e9e9;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: $base-blue;
  }
  &.today:not(.selected):hover, &.prevMonthDay.today:not(.selected):hover, &.nextMonthDay.today:not(.selected):hover {
    border: 1px solid $base-blue;
  }
  &.startRange, &.prevMonthDay.startRange, &.nextMonthDay.startRange, &.endRange, &.prevMonthDay.endRange, &.nextMonthDay.endRange {
    border-color: $base-darkblue;
  }
  &.today, &.prevMonthDay.today, &.nextMonthDay.today, &.selected, &.prevMonthDay.selected, &.nextMonthDay.selected {
    z-index: 2;
  }
}

.rangeMode .flatpickr-day {
  margin-top: -1px;
}

.flatpickr-weekwrapper {
  .flatpickr-weeks {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  span.flatpickr-day {
    border: 0;
    margin: -1px 0 0 -1px;
  }
}

.hasWeeks .flatpickr-days {
  border-right: 0;
}