.ui.form {
    &.form-filter {
        margin-top: 2.857em;

        &:first-child {
            margin-top: 0;
        }

        .form-filter--search {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.429em;

            &:last-child {
                margin-bottom: 0;
            }

            .search-field {
                position: relative;
                display: flex;
                width: 30em;
                flex-shrink: 0;
                max-width: 100%;

                .input {
                    flex: 1 1 auto;
                    font-size: 1.143em;

                    input {
                        font-size: 16px;
                        padding: 0.813em;
                        padding-right: 3.750em !important;
                        border-radius: 8px;
                        line-height: 30px;
                        height: 60px;
                        border-color: transparent;
                        box-shadow: 0 0 10px 0 rgba($true-black, 0.05);

                        &:focus {
                            box-shadow: 0 0 10px rgba($true-black, .1);
                        }
                    }
                }

                .button {
                    position: absolute;
                    top: 0.714em;
                    right: 0.714em;
                    margin: 0;
                    height: 40px;
                    width: 40px;
                    padding: 0;

                    + .button {
                        right: calc(50px + 0.714em);
                    }
                }
            }
        }

        .fields {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .form-filter--actions {
            display: flex;
            align-self: center;
            align-items: flex-start;
            width: 50%;
            margin: 0 auto;

            &:first-child {
                margin: 0;
            }

            &:last-child {
                margin: 0 0 0 auto;
                justify-content: flex-end;
            }

            i.icon {
                margin: 0;
                height: 60px;
                width: 60px;
                line-height: 60px;
                color: #A7A8AA;

                &.active {
                    color: #212224;
                }
            }
        }
    }

    .date-range {
        .field {
            width: 11.429em;

            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
            }
        }

        &-sep {
            width: 20px;
            flex: 0 0 20px;
            text-align: center;
            align-self: center;
        }
    }

    .form-actions {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        margin-top: 40px;
        margin-right: -.25em;
        margin-bottom: -.25em;
        .button{
            margin-bottom: .25em;
        }
        &--mt-sm{
            margin-top: 20px;
        }
        &--center{
            justify-content: center;
        }
    }

    .toggle-box {
        input {
            display: none;

            &:checked {
                + label {
                    .on {
                        color: #fff;
                        background: $blue;
                    }

                    .off {
                        color: inherit;
                        background: transparent;

                        &:hover {
                            color: $blue;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        label {
            display: inline-flex;
            align-items: flex-start;
            font-size: 1em;
            font-weight: 900;
            line-height: 1.429em;
            cursor: pointer;
            box-shadow: inset 0 0 0 0.143em $blue;
            border-radius: 1.429em;

            span {
                padding: 0.714em 1.071em;
                transition: all .3s ease-in-out;
                border-radius: 1.429em;

                &:hover {
                    color: $blue;
                    text-decoration: underline;
                }

                &.off {
                    color: #fff;
                    background: $blue;
                }
            }
        }
    }

    .field {
        .description {
            line-height: 30px;
            font-size: 14px;

            a {
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        &>.selection.dropdown{
            min-width: 0;
        }
    }
    &.form{
        &--cc{
            .field{
                &--name{
                    width: 340px;
                    max-width: 100%;
                }
                &--card-number{
                    width: 360px;
                    max-width: 100%;
                }
                &--ccv{
                    width: 160px;
                    max-width: 100%;
                }
                &--month{
                    width: 320px;
                    max-width: 100%;
                }
                &--year{
                    width: 200px;
                    max-width: 100%;
                }
            }
        }
        @include max-screen(559px){
            &--cc{
                .fields{
                    &>.field{
                        &:not(:last-child){
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

.ui {
    &.transparent {
        &.label {
            display: flex;
            align-items: center;
            background: none;
            padding: 0;
            padding-left: 10px;

            i {
                font-size: 18px;
                color: $grey;
            }
        }
    }
    &.labeled{
        input{
            flex-shrink: 1;
            min-width: 0;
        }
    }
}
.ui.big.form {
    .ui {
        &.search {
            &.selection {
                &.dropdown {
                    & > input {
                        &.search {
                            line-height: 20px;
                            padding-top: 13px;
                            padding-bottom: 13px;
                        }
                    }
                }
            }
        }

        &.selection {
            &.dropdown {
                padding-top: 13px;
                padding-bottom: 13px;
                font-size: 18px;
                line-height: 20px;
                font-weight: 500;

                & > .delete.icon,
                & > .dropdown.icon,
                & > .search.icon {
                    width: 48px;
                    line-height: 20px;
                    padding-top: 13px;
                    padding-bottom: 13px;
                }
            }
        }

        &.checkbox {

            .box,
            label {

                &:before,
                &:after {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }
            }

            label {
                font-size: 16px;
                line-height: 25px;
                a{
                    text-decoration: underline;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .field {
        margin-bottom: 20px;

        & > label {
            font-size: 14px;
        }
    }

    input:not([type]),
    input[type="date"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="file"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"] {
        padding-top: 13px;
        padding-bottom: 13px;
        line-height: 20px;
        font-size: 18px;
        font-weight: 500;
    }
    .fields{
        margin: 0 -10px 20px -10px;
        &>.field{
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 0;
        }
    }
    @include max-screen(767px){
        .ui{
            &.checkbox {
                label {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}
