@mixin button {
  margin: 0;
  padding: 0;
  border-style: none;
  cursor: pointer;
  background: none;
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
}
@mixin input {
  display: block;
  appearance: none;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: 500;
  background: #fff;
}
@mixin btn01 {
  @include button();
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  color: #fff;
  background: $base-orange;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .2), 0 0 20px rgba(0, 0, 0, .2);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}
@mixin btn02 {
  @include button();
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  color: #fff;
  background: $base-blue;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.2);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}
@mixin btn03 {
  @include button();
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  color: #fff;
  background: $base-orange;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.2);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}
@mixin btn04 {
  @include button();
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  color: #fff;
  background: $green;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.2);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}
@mixin btn04 {
  @include button();
  display: inline-block;
  vertical-align: top;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  color: $black;
  background: #fff;
  box-shadow: inset 0 -4px 0 rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.2);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.025);
  }
}

@mixin h2 {
  font-size: 30px;
  line-height: 30px;
  span {
    font-weight: 500;
    color: #A7A8AA;
  }
}

@mixin h3 {
  font-size: 24px;
  line-height: 30px;
  span {
    font-weight: 500;
    color: #A7A8AA;
  }
}

@mixin h4 {
  font-size: 20px;
  line-height: 20px;
  span {
    font-weight: 500;
    color: #A7A8AA;
  }
}

@mixin gradient-gray($dir) {
  background: linear-gradient(to $dir, #EEEEF0 0%, #FCFCFC 100%);
}

@mixin article-content {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 40px 0 20px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
  }
  h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
  }
  h4{
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
  }
  .accordion {
    margin: 40px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .embed-container{
    margin: 40px 0;
    box-shadow: 0 0 20px 0 rgba($true-black,0.10);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin screen($res-min, $res-max, $orientation: false) {
  @if $orientation {
    @media screen and (min-width: $res-min) and (max-width: $res-max) and (orientation:#{$orientation}) {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $res-min) and (max-width: $res-max) {
      @content;
    }
  }
}
@mixin max-screen($res) {
  @media only screen and (max-width: $res) {
    @content;
  }
}
@mixin min-screen($res) {
  @media only screen and (min-width: $res) {
    @content;
  }
}

@mixin container{
   width: 1440px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
  @include max-screen(1024px){
    padding: 0 20px;
  }
    @include max-screen(767px){
    padding: 0 10px;
  }
}
