// Fonts
$font-primary: 'Raleway', sans-serif;
$base-font-size: 14px;
$base-line-height: 20px;

// Basic colors.
$black: #212224;
$white: rgba(255, 255, 255, .9);
$blue: #0085CA;
$darkblue: #003D63;
$green: #48A23F;
$orange: #FF6E00;
$grey: #A7A8AA;

//
$true-black: #000;
$true-white: #fff;

// Specific colors.
$highlight-color: #f69240;
$base-bg-color: #e9ebed;
$sidebar-bg-color: #f2f4f5;
$header-bg-color: #14191F;
$base-blue: #0085CA;
$base-darkblue: #003D63;
$base-orange: #FF6E00;
$header-blue: #0085CA;
$common-border-color: #cac7c4;
$footer-bg-color: #13191e;

$error-color: #cc0000;
$success-color: #60a740;

$col-error: $error-color;


// New

$grey2: #EEEEF0;
$grey3: #EAEBED;
$grey4: #FCFCFC;
$grey5: #EDEEF0;
$grey6: #F7F8F8;
$grey7: #BDE0F3;
$darkblue2: #003C5C;
$darkblue3: #064F7C;
$green2: #085A00;
$darkgreen2: #0B3107;
