<div class="c-modal-overlay js-modal-po">
    <div class="c-modal">
        <div class="c-modal__scroll">
            <div class="c-modal__scroll__content">
                <button class="c-modal__close-btn js-close-modal">
                    <span class="o-close-icon"></span>
                </button>
                <div class="c-modal__header">
                    <div class="c-modal__header__title">
                        <span class="o-edit-icon--green"></span>
                        <span>Muuda pakkumist</span>
                    </div>
                    <div class="c-modal__header__subject">
                        <span class="c-modal__header__subject__title">lumememm.ee</span>
                        <span class="o-po-icon o-io-icon--bg-orange"></span>
                    </div>
                    <div class="c-modal__header__desc">
                        <span>Oksjoni lõpuni jäänud <strong>24d 1h 9m 8s</strong></span>
                    </div>
                </div>
                <div class="c-modal__main">
                    <div class="c-modal__grid">
                        <div class="c-modal__main__info">
                            <span>Vähim võimalik pakkumus</span>
                            <h3 class="u-h2 u-m-none">676.00</h3>
                        </div>
                        <div class="c-modal__main__info c-modal__main__info--black">
                            <strong>Hetke parim pakkumus</strong>
                            <h3 class="u-h2 u-m-none">666.00</h3>
                            <span>Sinu pakkumus</span>
                        </div>
                    </div>
                    <div class="c-modal__grid u-align-center u-flex-wrap u-mt-24 u-mt-48-l">
                        <label>Automaatpakkuja lagi</label>
                        <div class="c-modal__col">
                            <input class="" name="" value="0.00"/>
                        </div>
                        <div class="c-modal__col">
                            <div class="u-flex u-flex-wrap u-flex-gap-12">
                                <label class="o-checkbox" for="checkbox2">
                                    <input type="checkbox" checked id="checkbox2"/>
                                    <div class="o-checkbox__slider round"></div>
                                </label>
                                <span class="u-word-nowrap">Automaatpakkuja: <strong>Jah</strong></span>
                            </div>
                        </div>
                    </div>
                    <div class="c-modal__grid u-flex-wrap u-mt-24 u-mt-48-l">
                        <div class="c-modal__col">
                            <label>Pakkumus</label>
                            <input class="" name="" value="2000"/>
                            <span class="c-modal__input-desc">Pakkumus peab olema vähemalt 5.00</span>
                        </div>
                        <div class="c-modal__col">
                            <label>Kokku</label>
                            <span class="c-modal__calculation"><strong>2400</strong> (+ 20% käibemaks)</span>
                        </div>
                    </div>
                    <div class="c-modal__select u-mt-24 ">
                        <label>Pakkuja</label>
                        <select>
                            <option>Mary-Ann O’CONNEZ-SUSLIK TESTNUMBER</option>
                            <option>Mary-Ann O’CONNEZ-SUSLIK TESTNUMBER #2</option>
                            <option>Mary-Ann O’CONNEZ-SUSLIK TESTNUMBER #3</option>
                            <option>Mary-Ann O’CONNEZ-SUSLIK TESTNUMBER #4</option>
                            <option>Mary-Ann O’CONNEZ-SUSLIK TESTNUMBER #5</option>
                        </select>
                    </div>
                    <a class="c-modal__link c-modal__link--first-col" href="#">Uus arve aadress</a>
                </div>
                <div class="c-modal__footer">
                    <div class="c-modal__footer__col">
                        <button class="c-btn c-btn--ghost">Tagasi</button>
                    </div>
                    <div class="c-modal__footer__col">
                        <button class="c-btn c-btn--ghost c-btn--icon">
                            <span class="o-delete-icon"></span>
                        </button>
                        <button class="c-btn c-btn--green">Esita</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>