<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-open-class='is-open'>
     <%= component 'modals/no_reset_password_link', resource: resource, resource_name: resource_name %>
  </div>
<% end %>