<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation', display_name: @user.display_name) %></p>
        <p>
            <%= t('.introduction', domain_name: @auction.domain_name, due_date: @invoice.due_date) %>
        </p>
        <p><%= t('.details_html', domain_name: @auction.domain_name, linkpay_url: @linkpay_url) %></p>
        <%= t('common_mailer.footer_html') %>
    </body>
</html>
