<% if english? %>
  <span class="o-io-icon auction_platform"></span><span class="u-hidden">IO</span>
<% else %>
  <span class="o-po-icon auction_platform"></span><span class="u-hidden">PO</span>
<% end %>
