<% if english? %>
  <span class="o-io-icon auction_platform" title="<%= t('auctions.english_auction_tooltip') %>"></span><span class="u-hidden">IO</span>
<% else %>
  <span class="o-po-icon auction_platform" title="<%= t('auctions.blind_auction_tooltip') %>"></span><span class="u-hidden">PO</span>
<% end %>
