<div class="c-table__filters__more">
  <% if @current_user&.daily_summary %>
    <%= component 'common/links/link_button', link_title: t('auction.unsubscribe_for_notifications'), href: user_toggle_sub_path, color: 'ghost' %>
  <% elsif @current_user %>
    <%= component 'common/links/link_button', link_title: t('auction.subscribe_for_notifications'), href: user_toggle_sub_path(@current_user), color: 'ghost' %>
  <% end %>
</div>
