<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="o-container">
    <div class="c-block c-account c-account--createnew">
        <div class="c-account__form">
            <%= render 'form', user: @user, url: tara_create_path %>
        </div>
    </div>
</div>

<%#= stylesheet_pack_tag 'stylesheets/users', media: 'all', 'data-turbolinks-track': 'reload' %>
