<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-class-name-attr-value='js-modal'>
      <%= component 'modals/pay_invoice', invoice: @invoice %>
  </div>
<% end %>