<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dl>
                    <%= @invoice.due_date %>
                </dl>
            </div>
        </div>
    </div>
</div>
