<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-open-class='is-open'>
      <%= component 'modals/pay_invoice', invoice: @invoice %>
  </div>
<% end %>