<%= form_with(url: search_admin_bans_path, local: true, method: :get) do |f| %>
    <div class="ui input icon">
        <%= f.text_field :search_string, placeholder: t('search'), value: @origin %>
    </div>

    <%= f.button(type: 'submit', name: '', class: "ui icon primary button") do %>
        <i aria-hidden="true" class="arrow right icon"></i>
    <% end %>
<% end %>