<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey">
    <div class="ui search">
        <div class="ui massive input icon">
            <%= render 'search_form' %>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="margin-block">
        <%= render 'bans_table' %>

        <%= paginate @bans %>
        <br><br>
    </div>
</div>
