@mixin btn {
  font-weight: 500;
  font-size: rem(16px);
  line-height: rem(32px);
  text-align: center;
  display: inline-block;
  border-radius: rem(32px);
  padding: rem(0 16px);
  text-decoration: none;
  white-space: nowrap;
  color: $white-color;
  border: none;
  font-family: $font-family;


  &:disabled {
    pointer-events: none;
    filter: grayscale(1) opacity(0.4);
  }
}

@mixin btn-orange {
  @include btn;
  background: $primary-orange-color;

  &:hover {
    background: $white-color;
    color: $primary-orange-color;
  }
}

@mixin btn-blue {
  @include btn;
  background: $primary-blue-color;
  border: 1px solid $white-color;

  &:hover {
    background: $white-color;
    color: $primary-blue-color;
    border: 1px solid $primary-blue-color;
  }
}

@mixin btn-blue-secondary {
  @include btn;
  background: $secondary-blue-color;
  border: 1px solid $secondary-blue-color;

  &:hover {
    background: $white-color;
    color: $secondary-blue-color;

  }
}

@mixin btn-black {
  @include btn;
  background: $black-color;

  &:hover {
    background: $white-color;
    color: $black-color;
  }
}

@mixin btn-white {
  @include btn;
  background: $white-color;
  color: $black-color;
  border: 1px solid $white-color;

  &:hover {
    background: transparent;
    color: $white-color;
    background: transparent;
  }
}

@mixin btn-green {
  @include btn;
  background: $primary-green-color;
  border: 1px solid $primary-green-color;

  &:hover {
    background: $white-color;
    color: $primary-green-color;
  }
}


@mixin btn-red {
  @include btn;
  background: $error-color;

  &:hover {
    background: $black-color;
  }
}
