<%= form_with(url: search_admin_results_path, local: true, method: :get, class: 'ui big form') do |f| %>
  <div class="inline fields">
    <div class="field">
        <%= f.text_field :domain_name, placeholder: t('search_by_domain_name'), value: @search_string %>
    </div>
    <div class="field">
        <%= select_tag :statuses_contains,
        options_for_select(Result.statuses, @statuses_contains), 
        { multiple: true, class: 'ui selection dropdown', prompt: t("admin.results.#{action}.status") } %> 
    </div>

    <div class="field">
    <%= f.button(type: 'submit', name: '', class: "ui icon primary button") do %>
        <i aria-hidden="true" class="arrow right icon"></i>
    <% end %>
    </div>
  </div>
<% end %>