<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey ">
        <div class="ui input">
            <%= render 'search_form', action: 'search' %>
        </div>
</div>

<div class="u-container">
    <div class="margin-block">
        <div class="column">
            <%= render 'results_table' %>
        </div>

        <h4><%= t('search_limit', limit: Kaminari.config.default_per_page) %></h4>
    </div>
</div>
