<div class="c-modal-overlay js-modal-delete">
    <div class="c-modal c-modal--error c-modal--sm">
        <div class="c-modal__header">
            <div class="c-modal__header__title">
                <span class="o-delete-icon--red"></span>
                <span>Oled Eemalda pakkumine</span>
            </div>
            <div class="c-modal__header__subject">
                <span class="c-modal__header__subject__title">meekarud.ee</span>
                <span class="o-po-icon o-io-icon--bg-orange"></span>
            </div>
        </div>
        <div class="c-modal__main">
            <p>Kas olete kindel, et eemaldate selle pakkumise</p>
        </div>
        <div class="c-modal__footer">
            <div class="c-modal__footer__col">
                <button class="c-btn c-btn--ghost js-close-modal">Tühista</button>
            </div>
            <div class="c-modal__footer__col">
                <button class="c-btn c-btn--red js-close-modal">Eemalda</button>
            </div>
        </div>
    </div>
</div>