<a data-action='click->dropdown#showMenu click->update_notifications#update'>
  <i class="large bell icon" style="padding: 0; margin: 0; <%= any_unread ? 'color: red;' : 'color: green;' %>"></i>
</a>
