<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3 mt-4"><%= t('.title')%></h1>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%= render 'form', user: @user, url: user_path(@user.uuid) %>

<%= javascript_pack_tag 'users', 'data-turbolinks-track': 'reload' %>
