<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mb-3 mt-4">Welcome to auction center</h1>

            <div class="row">
                <div class="col-4">
                    <h2 class="mt-4">I am an existing user</h2>
                    <p><%= link_to t('.sign_in'), new_user_session_path %>
                </div>
                <div class="col-4">
                    <h2 class="mt-4">I want to create a user account</h2>
                    <p><%= link_to t('.create_an_account'), new_user_path %>
                </div>
            </div>
        </div>
    </div>
</div>
