<%= component 'common/hero', title: t('.title') %>

<div class="o-container">
    <div class="c-block c-account c-account--profile c-account--mainpage">
          <%= form_with model: @user, url: users_path, class: "o-grid o-grid--two-col o-grid--sep" do |f| %>
            <%= render 'form', f: f %>
          <% end %>
    </div>
</div>
