<% content_for :title, t('.title') %>

<div class="o-container">
  <div class="c-block c-account">
    <%= turbo_frame_tag 'user_info' do %>
      <%= render 'user_info' %>
    <% end %>
  </div>
</div>

