<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-open-class='is-open'>
    <%= render "devise/shared/error_messages", resource: resource %>
     <%= component 'modals/forgot_password', resource: resource, resource_name: resource_name %>
  </div>
<% end %>