.u-bg-blue-gradient {
  background: $gradient-blue;
}

.u-bg-green-gradient {
  background: $gradient-green;
}

.u-bg-silver-gradient {
  background: linear-gradient(90deg, #EEEEF0 0%, #FFFFFF 24.48%, #EEEEF0 51.56%, #FFFFFF 77.08%, #EEEEF0 100%);
}
