.u-mt-24 {
  margin-top: rem(24px);
}

.u-mt-32 {
  margin-top: rem(32px);
}

.u-mt-40 {
  margin-top: rem(40px);
}


.u-mt-48 {
  margin-top: rem(48x);
}

.u-mt-8 {
  margin-top: rem(8px);
}


.u-mt-48-l {
  @include mq(laptop) {
    margin-top: rem(40px);
  }
}

.u-mb-48 {
  margin-bottom: rem(48px);
}

.u-mb-8 {
  margin-bottom: rem(8px);
}

.u-m-none {
  margin: 0 !important;
}

.u-mr-16 {
  margin-right: rem(16px);
}

.u-ml-16 {
  margin-left: rem(16px);
}

.u-ml-8 {
  margin-left: rem(8px);
}

.u-ml-4 {
  margin-left: rem(4px);
}