.u-mt-24 {
  margin-top: rem(24px);
}

.u-mt-32 {
  margin-top: rem(32px);
}

.u-mt-40 {
  margin-top: rem(40px);
}


.u-mt-48 {
  margin-top: rem(48px);
}
.u-mt-60 {
  margin-top: rem(60px);
}

.u-mt-8 {
  margin-top: rem(8px);
}


.u-mt-48-l {
  @include mq(laptop) {
    margin-top: rem(40px);
  }
}
.u-mb-60 {
  margin-bottom: rem(60px);
}
.u-mb-48 {
  margin-bottom: rem(48px);
}
.u-mb-36 {
  margin-bottom: rem(36px);
}
.u-mb-30 {
  margin-bottom: rem(30px);
}
.u-mb-20 {
  margin-bottom: rem(20px);
}

.u-mb-8 {
  margin-bottom: rem(8px);
}

.u-m-none {
  margin: 0 !important;
}

.u-mr-16 {
  margin-right: rem(16px);
}

.u-ml-16 {
  margin-left: rem(16px);
}

.u-ml-8 {
  margin-left: rem(8px);
}

.u-ml-4 {
  margin-left: rem(4px);
}