<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey">
    <div class="ui input">
        <%= render 'search_form', action: 'index' %>
    </div>
</div>

<div class="ui container">
    <div class="margin-block">
        <%= render 'invoices_table' %>
        <%= paginate @invoices %>
    </div>
</div>
