<%= form_with(url: url, local: true, scope: :phone_confirmation, id: "phone_confirmation_form") do |f| %>
    <div class="c-account__input c-account__input--editable u-mb-20 is-editable">
      <%= component 'common/form/label', form: f, attribute: :confirmation_code %>
    </div>

    <div class="c-account__input c-account__input--editable u-mb-20 is-editable">
      <%= component 'common/form/text_field', form: f, attribute: :confirmation_code %>
    </div>

    <div class="c-account__input c-account__input--editable is-editable">
        <%= component 'common/form/form_button', form: f, color: 'green', btn_title: t(:submit), options: { data: { turbo: false } } %>
    </div>
<% end %>
