<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="u-container margin-block">
        <%= render 'form', phone_confirmation: @phone_confirmation, url: user_phone_confirmations_path %>
    </div>
</div>
