.o-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(24px);
  column-gap: rem(20px);

  @include mq(desktop) {
    column-gap: rem(32px);
    row-gap: rem(32px);
  }

  @include mq(wide) {
    column-gap: rem(40px);
    row-gap: rem(40px);
  }

  @include mq(ultra) {
    column-gap: rem(48px);
    row-gap: rem(48px);
  }
}

.o-grid--two-col {
  @include mq(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.o-grid--two-col-desktop {
  @include mq(desktop) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.o-grid--three-col {
  @include mq(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.o-grid--sep {
  row-gap: rem(48px);
}