
<%- if @readed %>
  <%- if @notification_type == 'AuctionWinnerNotification' %>
    <span class="c-notification__header__icon o-trophy-icon"></span>
    <h5 class="c-notification__header__title">Oled võitnud! <span class="o-new"></span></h5>
  <%- elsif @notification_type == 'OfferNotification'  %>
    <span class="c-notification__header__icon o-hammer-icon"></span>
    <h5 class="c-notification__header__title">OfferNotification <span class="o-new"></span></h5>
  <%- elsif @notification_type == 'AuctionLooserNotification' %>
    <span class="c-notification__header__icon o-hammer-icon"></span>
    <h5 class="c-notification__header__title">You losed! <span class="o-new"></span></h5>
  <%- end %>
<%- else %>
  <%- if @notification_type == 'AuctionWinnerNotification' %>
    <span class="o-trophy-icon"></span>
    <h5 class="c-notification__header__title">Oled võitnud! <span class="o-new"></span></h5>
  <%- elsif @notification_type == 'OfferNotification'  %>
    <span class="o-hammer-icon"></span>
    <h5 class="c-notification__header__title">OfferNotification <span class="o-new"></span></h5>
  <%- elsif @notification_type == 'AuctionLooserNotification' %>
    <span class="o-hammer-icon"></span>
    <h5 class="c-notification__header__title">You losed! <span class="o-new"></span></h5>
  <%- end %>
<%- end %>
