<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-class-name-attr-value='js-modal-edit'>
    <%= component 'modals/winner_domain', result: @result %>
  </div>
<% end %>
