<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p>An undefined transaction was received. The score cannot be determined.</p>
        <p>Transaction data:</p>
        <%= @transaction_info %>

        <%= t('.footer_html') %>
    </body>
</html>
