/* Sidebar */
.ui.right.sidebar.visible {
    background: $true-white;
    color: $green;
    font-size: 1.2rem;

    a {
        color: $green;

        &:hover {
            color: $green2;
        }
    }

    ul {
        list-style-type: none;
    }
}

.ui.right.sidebar.animating {
    background: $true-white;
    color: $green;
    font-size: 1.2rem;

    a {
        color: $green;

        &:hover {
            color: $green2;
        }
    }

    ul {
        list-style-type: none;
    }
}


/* Cookie Notice */
.cookie-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background: $green;
    z-index: 99999;
    a {
        color: #fff;
        text-decoration: underline;
    }
    .content {
        margin-bottom: 10px;
    }
    @include min-screen(768px) {
        .container {
            display: flex;
            align-items: center;
        }
        .content {
            margin: 0 20px 0 0;
        }
    }
    @include min-screen(1224px) {
        position: static;
        padding: 20px 50px;
        .actions {
            margin-left: auto;
        }
        .content {
            margin-right: 40px;
        }
    }
}

/* Main Header */
.main-header {
    position: relative;
    z-index: 200;
    &-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background: #fff;
    }
    &-bottom {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        transition: background .3s ease-in-out;
        z-index: 2;
    }
    .logo {
        display: block;
        margin-right: 20px;
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        svg {
            display: none;
            pointer-events: none;
        }
    }
    .actions {
        display: flex;
        align-items: flex-start;
        margin: 0 0 0 auto;
        position: relative;
        z-index: 3;
        .btn {
            @include button();
            position: relative;
            display: block;
            width: 40px;
            height: 40px;
            margin-left: 20px;
            font-size: 28px;
            line-height: 40px;
            background: none;
            z-index: 3;
            &:first-child {
                margin-left: 0;
            }
            i {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
                text-align: center;
                color: #fff;
                transition: all .3s ease-in-out;
                &.times {
                    transform: scale(0);
                }
            }
            &-menu {
                i {
                    transition-delay: .5s;
                    .u-menu-open & {
                        transition-delay: 0s;
                        &.bars {
                            transform: scale(0);
                        }
                    }
                }
            }
            &-menu {
                display: none;
            }
        }
        @include max-screen(1223px) {
            .btn-menu {
                display: block;
            }
        }
    }
    @include min-screen(768px) {
        &-bottom {
            padding: 20px 40px;
            align-items: center;
        }
        .logo {
            background: none;
            margin-right: 40px;
        }
    }
    @include screen(768px,1223px) {
        .logo {
            svg {
                width: 85px;
                height: 80px;
            }
        }
    }
    @include max-screen(1223px) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        transition: all .5s ease-in-out;
        &.u-fixed {
            background: darken($green, 10%);
            box-shadow: 0 0 20px rgba(0,0,0,.2);
        }
        .u-menu-open & {
            left: -320px;
            right: 320px;
        }
        .logo {
            height: 40px;
            width: 155px;
            transition: all .3s ease-in-out;
            background: url('../../src/images/logo-m.svg') no-repeat 0 0;
        }
    }
    @include min-screen(1224px) {
        margin: 0 50px;
        .logo {
            svg {
                display: block;
            }
        }
        &-bottom {
            margin-bottom: -200px;
        }
    }
}
.menu-portal {
    a {
        display: block;
        padding: 15px 20px;
        font-weight: 500;
        color: $black;
        transition: all .3s ease-in-out;
        &.u-active {
            color: #fff;
            font-weight: 900;
        }
        &.u-active:first-child {
            background: $blue;
        }
        &.u-active:nth-child(2) {
            background: $green;
        }
        &.u-active:nth-child(3) {
            background: $orange;
        }
        &.u-active:nth-child(4) {
            background: $green;
        }
        &:hover {
            color: #fff;
            text-decoration: underline;
            &:first-child {
                background: $blue;
            }
            &:nth-child(2) {
                background: $green;
            }
            &:nth-child(3) {
                background: $orange;
            }
            &:nth-child(4) {
                background: $green;
            }
        }
    }
    @include min-screen(1224px) {
        display: flex;
        align-items: stretch;
        a {
            padding: 20px 40px;
        }
    }
}
.menu-language {
    padding: 15px 20px;
    margin: 0 auto;
    &:last-child {
        margin-right: 0;
    }
    ul {
        display: flex;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            &.active {
                display: none;
            }
            a {
                display: block;
                padding: 5px 10px;
                font-weight: 500;
                color: $black;
                cursor: pointer;
                &:hover {
                    color: $green;
                }
            }
        }
    }
}
.menu-user {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #EAEBED;
    a {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        font-weight: 500;
        color: $black;
        &:hover {
            color: $green;
        }
        i {
            flex: 0 0 20px;
            width: 20px;
            margin-right: 10px;
            text-align: center;
        }
    }
    @include min-screen(1224px) {
        padding: 15px 30px;
        border-bottom: 0;
        a {
            padding: 5px 10px;
        }
    }
}
.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

// Main menu
.menu-main {
    flex: 1 1 auto;
    transition: all .3s ease-in-out;
    .u-site-search-open & {
        opacity: 0;
        visibility: hidden;
    }
    > ul {
        padding: 0;
        list-style: none;
        margin: 0;
        > li {
            position: relative;
            &.u-submenu-open {
                .btn--submenu-toggle {
                    i {
                        color: $green;
                        transform: rotate(180deg);
                    }
                }
            }
            .btn--submenu-toggle {
                display: flex;
                align-items: center;
                width: 40px;
                min-height: 50px;
                font-size: 18px;
                line-height: 40px;
                background: #fff;
                border: 0;
                outline: none;
                border-left: 1px solid #EAEBED;
                i {
                    margin: auto;
                    line-height: 18px;
                    transition: all .3s ease-in-out;
                }
            }
            > a {
                display: block;
                padding: 10px 20px;
                color: $black;
                font-size: 14px;
                font-weight: 900;
                text-transform: uppercase;
                transition: all .3s ease-in-out;
                &.untranslated {
                    opacity: .8;
                }
            }
            > ul {
                display: none;
                padding: 0;
                margin: 0;
                list-style: none;
                > li {
                    a {
                        display: block;
                        padding: 10px 20px;
                        font-size: 14px;
                        font-weight: 500;
                        transition: all .3s ease-in-out;
                        &.untranslated {
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
    @include max-screen(1223px) {
        position: relative;
        z-index: 11;
        padding-left: 5px;
        background: $green;
        > ul {
            border-top: 1px solid #EAEBED;
            > li {
                display: flex;
                align-items: stretch;
                flex-wrap: wrap;
                border-bottom: 1px solid #EAEBED;
                &.selected {
                    > a {
                        color: $green;
                    }
                }
                &.u-submenu-open {
                    position: relative;
                    z-index: 10;
                    filter: drop-shadow(0 0 10px rgba(0,0,0,.1));
                    > ul {
                        display: block;
                    }
                }
                > a {
                    flex: 1 1 auto;
                    flex-basis: calc(100% - 40px);
                    width: calc(100% - 40px);
                    padding: 15px 20px;
                    background: #fff;
                }
                > ul {
                    min-width: 100%;
                    li {
                        margin-left: 5px;
                        border-top: 1px solid #EAEBED;
                        &.current {
                            a {
                                padding-left: 20px;
                                text-decoration: underline;
                                text-decoration-color: $green;
                            }
                        }
                        a {
                            color: $black;
                            background: #fff;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }
    @include min-screen(1224px) {
        > ul {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            > li {
                position: relative;
                .btn {
                    display: none;
                }
                &:hover {
                    > a {
                        background: $green;
                    }
                    > ul {
                        display: block;
                    }
                }
                > a {
                    color: #fff;
                }
                > ul {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 280px;
                    box-shadow: 0 0 20px rgba(0,0,0,.4);
                    background: darken($green, 10%);
                    > li {
                        display: block;
                        border-top: 1px solid $green;
                        &:first-child {
                            border-top: 0;
                        }
                        &.current {
                            > a {
                                text-decoration: underline;
                                text-decoration-color: $base-orange;
                            }
                        }
                        a {
                            color: #fff;
                            &.untranslated {
                                opacity: .8;
                            }
                            &:hover {
                                color: $base-orange;
                            }
                        }
                    }
                }
            }
        }
    }
    @include min-screen(1800px) {
        > ul {
            > li {
                > a {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}
.menu-mobile {
    display: none;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    overflow: auto;
    background: #fff;
    z-index: 99999;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    .u-menu-open & {
        right: 0;
        visibility: visible;
    }
    .btn-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        font-size: 28px;
        line-height: 60px;
        background: none;
        z-index: 10;
        opacity: 0;
        border: 0;
        outline: 0;
        cursor: pointer;
        transform: scale(0);
        transition: all .3s ease-in-out;
        transition-delay: 0s;
        .u-menu-open & {
            opacity: 1;
            transform: scale(1);
            transition-delay: .5s;
            background: #fff;
        }
    }

    .menu {
        .btn {
            display: block;
        }
        &-language {
            padding: 15px 80px 15px 20px;
        }
    }
    @include max-screen(1223px) {
        display: block;
    }
}
@include max-screen(1223px) {
    .menu-main,
    .menu-user,
    .menu-portal,
    .menu-language {
        display: none;
        .menu-mobile & {
            display: block;
        }
    }
}
