.ui {
    &.search {
        position: relative;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 10px;
        max-width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.429em;

        input {
            font-size: 16px;
            padding: 0.813em;
            padding-right: 3.750em !important;
            border-radius: 8px;
            line-height: 30px;
            height: 60px;
            border-color: transparent;
            box-shadow: 0 0 10px 0 rgba($true-black, 0.05);
            width: 30em;

	    @include max-screen(767px) {
		width: 22em;
	    }
        }

        input:focus {
            border-color: rgba($true-black, 0.1);
        }

        button {
            position: absolute;
            right: .714em;
            top: .714em;
        }
    }
}
