<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="ui container">
    <div class="margin-block">
        <div class="ui centered grid">
            <div class="ten wide column">
                <%= line_chart [
                    { name: 'Auctions total', data: @data[:auctions]},
                    { name: 'Auctions without bids', data: @data[:auctions_without_offers]},
                    { name: 'Auctions with bids', data: @data[:auctions_with_offers]},
                               ] %>
            </div>
        </div>
    </div>
</div>
