default: &default
  # This is your application name, as displayed in the UI
  application_name: "EIS Auction Center"

  # Timezone and locale
  time_zone: "Tallinn"
  #  locale: "en"

  # Generate your own with rails secret
  devise_secret_key: "Your very secret key used for devise tokens"

  # Address from which the emails come from
  email_from_address: "noreply@internet.ee"

  mailer:
    # Host to which links from emails should redirect to
    host: 'https://auction.example.test'

    # SMTP server address, i.e 'smtp.auction.test'
    address: ''
    # 587, 465
    port: ''
    # true/false (without quotation marks)
    enable_starttls_auto: true
    # SMTP user name, i.e 'user@auction.test'
    user_name: ''
    # SMTP password, i.e 'password'
    password: ''
    # 'plain', 'login', 'cram_md5'
    authentication: ''
    # domain for HELO check
    domain: ''
    # Use "none" only when for a self-signed and/or wildcard certificate
    # openssl_verify_mode: 'peer' # 'none', 'peer', 'client_once','fail_if_no_peer_cert'
    # Detects if STARTTLS is enabled in your SMTP server and starts to use it. Defaults to true.
    # Set this to false if there is a problem with your server certificate that you cannot resolve.
    # 'none', 'peer', 'client_once','fail_if_no_peer_cert'
    openssl_verify_mode: ''

  airbrake:
    host: ''
    project_id: ''
    project_key: ''
    # environment can be left blank, defaults to Rails.env
    # environment: ''

  recaptcha:
    site_key: ''
    secret_key: ''


  google_analytics:
    # Disabled when not configured
    tracking_id:

  payment_methods:
    enabled_methods:
      - "PaymentOrders::EveryPay"
      - "PaymentOrders::SEB"

    every_pay:
      url: ''
      user: ''
      key: ''
      account_id: ''
      icon: '/images/payment_methods/every_pay.png'
      linkpay_prefix: 'https://igw-demo.every-pay.com/lp'
      linkpay_check_prefix: 'https://igw-demo.every-pay.com/api/v3/payments/'
      linkpay_token: 'rucd4v'

    seb:
      url: ''
      seller_account: ''
      seller_private_key: ''
      bank_certificate: ''
      icon: '/images/payment_methods/seb.png'

  messente:
    username: 'messente_user'
    password: 'messente_password'

  tara:
    host: 'tara-test.ria.ee'
    issuer: 'https://tara-test.ria.ee'
    identifier: 'identifier'
    secret: 'secret'
    redirect_uri: 'redirect_url'
    keys:
      kty: 'RSA'
      kid: 'public:xWbbVoYq9EwMqphp'
      n: '2vlgaxaUJYUWjkNM_b-ruADW3gyGnkPvxDyEXWeLyP668vn5aTrSdZ42psr6Vpu6V1MEjMr27bnE7swqndfmspqJHKlp47fO9orWWNGmrHFtClxU36wqFiIg9V39hbHdoXqZVdLywwjx6KLgsuYff95KvwfDqUK9IxxADm91ckD9m9aoQaPTrn8KsB9uhkyEchejNHRg7EGZDvWHF-aiQHCMnieSowiapPd7kTYGemPMheVyY_Zwvyya8DkvjnVa8HlrmbzjMjGdSRq5dVL0lCxb4-OlZ-QZuORUBqZ5xEAhWg2Jl6oG0slj3z8l_fd7l2oj7THNoepYWTnzUDxsN1hvRLzFnJh8MNUklYHWf8CFrwmPdqGDs0jeLP2v7X8LJeQ-Ly3GHsUBai1aVORZXCHq1Tzt2XyQhvPVt_3WoaVKJBi4hjz0CLKlSE0eUv9TWL58CU76tU98dxOwSb6hhqEu3xn6mLApyyEZzeUdYdJutDFQuTYz2pb1yqMFqlp2LHa49p7Q5TvBp4pKOxwjrqnlKTsasL8BU2vA9xHuEEYttVzAPWjH_5-BfoJ8GKQTLaXc6LOmWIZcMDVM8QEOkLXQdUtlaPVz-2wl9Q_FwhoBzXSZujEYQVcSZznxIdNyV4nvn2mo56isITX18PTcdyZ4V-wWlS5PuUNVVRQHWE0'
      e: 'AQAB'

    # HTTP Proxy address as a string. Only HTTP is allowed, in the following schema:
    # "http://192.168.0.1:8080"
    # "http://user:password@address.com:8080"
    # "http://address.com"
    #
    # When commented out, no proxy is used.
    # proxy: "http://user:password@address.com:8080"

  registry_integration:
    enabled: false
    url: 'http://registry/api/v1/auctions/'

development:
  <<: *default
test:
  <<: *default

  payment_methods:
    enabled_methods:
      - "PaymentOrders::EveryPay"
      - "PaymentOrders::SEB"

    every_pay:
      url: 'https://igw-demo.every-pay.com/transactions/'
      user: 'api_user'
      key: 'api_key'
      account_id: 'EUR3D1'
      icon: '/images/payment_methods/every_pay.png'
      linkpay_prefix: 'https://igw-demo.every-pay.com/lp'
      linkpay_check_prefix: 'https://igw-demo.every-pay.com/api/v3/payments/'
      linkpay_token: 'rucd4v'

    seb:
      url: 'https://www.seb.ee/cgi-bin/dv.sh/ipank.r'
      seller_account: 'testvpos'
      seller_private_key: 'test/fixtures/files/seb_seller_key.pem'
      bank_certificate: 'test/fixtures/files/seb_bank_cert.pem'
      icon: '/images/payment_methods/seb.png'

  messente:
    username: 'messente_user'
    password: 'messente_password'

staging:
  <<: *default
production:
  <<: *default
