# Use this file to easily define all of your cron jobs.
#
# It's helpful, but not entirely necessary to understand cron before proceeding.
# http://en.wikipedia.org/wiki/Cron

every 2.hours do
  runner "ResultCreationJob.perform_later"
  runner "ResultStatusUpdateJob.perform_later"
  runner "InvoiceCreationJob.perform_later"
end

every 1.day, at: '22:00' do
  runner "AuctionCreationJob.perform_later"
end

every 1.day, at: '23:55' do
  runner "AuctionCreationJob.perform_later"
  runner "DomainRegistrationCheckJob.perform_later"
end

every 1.day, at: '00:15' do
  runner "InvoiceCancellationJob.perform_later"
end

# Learn more: http://github.com/javan/whenever
