<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey">
    <div class="ui search">
        <div class="ui massive input icon">
            <%= render 'search_form' %>
        </div>
    </div>
</div>

<div class="u-container">
    <div class="margin-block">
        <div class="grid one column">
            <div class="column">
                <%= render 'auctions_table' %>
            </div>

            <div class="column">
                <%= paginate @collection %>
            </div>
        </div>
    </div>
</div>
