<div style='margin-bottom: 10px;'>
  <%= label_tag :price, t('english_offers.form.offer_title') %>
</div>

<%= number_field_tag 'offer_price', offer_value, name: "offer[price]", class: "form-control", min: 0, step: "0.01", disabled: offer_disabled %>
<em>
  <small>
    <%= t('offers.price_is_without_vat') %>
  </small>
</em>
