<p data-controller="countdown"
   data-countdown-date-value="<%= I18n.l(auction.ends_at) %>"
   data-countdown-refresh-interval-value="500"
   data-countdown-message-value="<%= t('english_offers.timer') %>"
   class="monospace"
   style='margin-top: 30px;'>
</p>
