<%= turbo_stream_from "auctions_offer_#{@auction.id}" %>
<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-open-class='is-open'>
    <!-- Modal - Change Offer -->
    <%= component 'modals/change_offer', offer: @offer, auction: @auction, autobider: @autobider, update: true, current_user: current_user, captcha_required: true, show_checkbox_recaptcha: @show_checkbox_recaptcha %>
    <!-- Modal - Change Offer -->
    
    <!-- Modal - Change Offer - PO -->
    <%#= component 'modals/change_offer_po' %>
    <!-- Modal - Change Offer -->

    <!-- Modal - Edit offer -->
    <%#= component 'modals/edit_offer', offer: @offer, auction: @auction, autobider: @autobider %>
    <!-- Modal - Edit offer -->

    <!-- Modal - Delete offer -->
    <%#= component 'modals/delete_offer' %>
  </div>
<% end %>
