$font-family: 'Raleway', Arial, sans-serif;

$primary-blue-color: #0085ca;
$secondary-blue-color: #003D63;
$primary-orange-color: #FF6E00;
$primary-green-color: #48A23F;
$primary-yellow-color: #FBAA19;

$green-light: #E3FEE0;
$yellow-light: #FFF5E4;
$blue-light: #DAF2FF;
$orange-light: #FFEEE1;

$black-color: #212224;
$white-color: #FFFFFF;
$grey-100-color: #EFEFF1;
$grey-200-color: #E2E2E2;
$grey-300-color: #B5BCCB;
$grey-400-color: #A7A8AA;

$gradient-blue: linear-gradient(90deg, #009DE1 1.35%, #0085CA 98.65%);
$gradient-grey: linear-gradient(90deg, #EEEEF0 0%, #FFFFFF 100%);
$gradient-orange: linear-gradient(90deg, #FF6E00 1.35%, #E66300 98.65%);
$gradient-blue-secondary: linear-gradient(90deg, #0085CA 1.35%, #009DE1 98.65%);
$gradient-orange-secondary: linear-gradient(90deg, #E66300 1.35%, #FF6E00 98.65%);
$gradient-green: linear-gradient(90deg, #48A23F 1.35%, #3EB54C 98.65%);
$gradient-light: linear-gradient(90deg, #EEEEF0 0%, #FFFFFF 24.48%, #EEEEF0 51.56%, #FFFFFF 77.08%, #EEEEF0 100%);
$gradient-green: linear-gradient(90deg, #48A23F 1.35%, #3EB54C 98.65%);

$transition: 0.25s;

$error-color: #fc2043;