<div class="c-modal-overlay js-modal-edit">
    <div class="c-modal">
        <div class="c-modal__scroll">
            <div class="c-modal__scroll__content">
                <button class="c-modal__close-btn js-close-modal">
                    <span class="o-close-icon"></span>
                </button>
                <div class="c-modal__header">
                    <div class="c-modal__header__title">
                        <span class="o-edit-icon--green"></span>
                        <span>Oled võitnud!</span>
                    </div>
                    <div class="c-modal__header__subject">
                        <span class="c-modal__header__subject__title">meekarud.ee</span>
                        <span class="o-po-icon o-io-icon--bg-orange"></span>
                    </div>
                    <div class="c-modal__header__desc">
                        <span>Staatus</span> <span class="c-badge c-badge--yellow">ootab arve tasumist</span>
                    </div>
                </div>
                <div class="c-modal__main">
                    <div class="">
                        <label>Registreerimiskood</label>
                        <input class="u-bg-silver-gradient" name=""/>
                        <span class="c-modal__input-desc u-text-right u-mt-8">Kui arve on tasutud, ilmub siia registreerimiskood</span>
                    </div>
                    <div class="u-flex u-flex-wrap u-flex-gap-50-l u-flex-gap-24 u-mt-8">
                        <div>
                            <p class="u-mb-8">Arve tasuda hiljemalt</p>
                            <strong>20-04-2023</strong>
                        </div>
                        <div>
                            <p class="u-mb-8">Registreeri hiljemalt</p>
                            <strong>20-04-2023</strong>
                        </div>
                    </div>
                </div>
                <div class="c-modal__footer">
                    <div class="c-modal__footer__col">
                        <button class="c-btn c-btn--ghost">Tagasi</button>
                    </div>
                    <div class="c-modal__footer__col">
                        <button class="c-btn c-btn--green">Esita</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>