<% content_for :title, t('.title') %>

<div class="o-container">
  <% if @setting.errors.any? %>
    <div class="ui message">
      <div class="header">
        <%= t(:errors_name) %>
      </div>
      <ul id="errors">
        <% @setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form', setting: @setting, url: admin_setting_path(@setting) %>
</div>
