<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-open-class='is-open'>
    <%= component 'modals/change_offer_po', offer: @offer, auction: @auction, update: false, current_user: current_user, captcha_required: true, show_checkbox_recaptcha: @show_checkbox_recaptcha %>
  </div>
<% end %>
