<%= turbo_frame_tag "modal" do %>
  <div data-controller='modals--offer-modal' data-modals--offer-modal-class-name-attr-value='js-modal-po'>
    <!-- Modal - Change Offer -->
    <%#= component 'modals/change_offer' %>
    <!-- Modal - Change Offer -->

    <!-- Modal - Change Offer - PO -->
    <%= component 'modals/change_offer_po' %>
    <!-- Modal - Change Offer -->

    <!-- Modal - Edit offer -->
    <%#= component 'modals/edit_offer' %>
    <!-- Modal - Edit offer -->

    <!-- Modal - Delete offer -->
    <%#= component 'modals/delete_offer' %>
  </div>
<% end %>
