<div class="o-spacer--header"></div>
<section class="c-hero">
    <div class="o-container">
        <div class="c-hero__content">
            <svg width="101" height="96" viewBox="0 0 101 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M68.4223 36.5178C68.3048 36.4677 68.1992 36.3959 68.1111 36.3055C68.0241 36.2162 67.9555 36.1117 67.9055 35.9931C67.8532 35.8722 67.8282 35.747 67.8282 35.6131C67.8282 35.4749 67.8554 35.3464 67.9065 35.2299C67.9533 35.1145 68.0241 35.01 68.1111 34.9208C68.1992 34.8304 68.3048 34.7586 68.4223 34.7074C68.6639 34.6072 68.9544 34.6083 69.1949 34.7074C69.3135 34.7586 69.4157 34.8304 69.505 34.9186C69.5942 35.0122 69.6649 35.1156 69.7128 35.2299C69.765 35.3464 69.7901 35.4738 69.7901 35.6131C69.7901 35.7481 69.765 35.8722 69.715 35.9931C69.6649 36.1085 69.5942 36.2152 69.5061 36.3055C69.4179 36.3959 69.3135 36.4677 69.1949 36.5178C69.0752 36.5679 68.9446 36.5929 68.8097 36.5929C68.6737 36.5929 68.5431 36.5679 68.4223 36.5178ZM60.823 43.3842C60.4095 43.0032 60.1995 42.4153 60.1995 41.6413V38.444H58.4259V37.2933H60.1995V35.5754L61.5281 35.2314V37.2933H64.3768V38.444H61.5281V41.5531C61.5281 41.9744 61.6369 42.289 61.8545 42.4893C62.1712 42.7843 62.737 42.8497 63.4954 42.7506C63.7348 42.719 63.984 42.669 64.2332 42.6047L64.3768 42.5688V43.7532L64.2897 43.775C64.0351 43.8392 63.7718 43.886 63.503 43.9133C63.2364 43.9405 62.9612 43.9546 62.6826 43.9546C61.8589 43.9546 61.2343 43.763 60.823 43.3842ZM42.8814 35.3779V36.5558H39.3145V38.8854H42.7421V40.0622H39.3145V42.6771H42.8814V43.8659H37.9609V35.3779H42.8814ZM50.3926 40.6401C50.3883 40.7479 50.3818 40.8492 50.372 40.9439L50.3622 41.0484H45.9205C45.9423 41.6058 46.1109 42.0423 46.4276 42.346C46.7671 42.6704 47.2665 42.8348 47.9139 42.8348C48.1 42.8348 48.2839 42.8272 48.4612 42.8131C48.6451 42.7989 48.8225 42.7793 48.9901 42.7543C49.162 42.7292 49.3241 42.7009 49.4808 42.6683C49.6331 42.64 49.78 42.604 49.9117 42.5681L50.0575 42.5267V43.6676L49.9737 43.6905C49.6701 43.7776 49.3241 43.8473 48.9444 43.8995C48.5646 43.9529 48.1653 43.9812 47.7572 43.9812C47.2023 43.9812 46.7181 43.9039 46.3144 43.7525C45.9064 43.598 45.5669 43.3704 45.3068 43.0798C45.0457 42.788 44.852 42.4266 44.7258 42.0053C44.6039 41.5905 44.543 41.1148 44.543 40.5922C44.543 40.1328 44.6083 39.6952 44.7388 39.2902C44.8716 38.8798 45.0685 38.514 45.3221 38.2027C45.5799 37.8903 45.8966 37.6388 46.2676 37.457C46.6365 37.273 47.0641 37.1805 47.5364 37.1805C47.9901 37.1805 48.4003 37.2534 48.7539 37.396C49.1119 37.543 49.4144 37.7509 49.6571 38.0165C49.8997 38.28 50.0869 38.6077 50.2131 38.9865C50.335 39.3588 50.397 39.7834 50.397 40.245C50.397 40.4028 50.3948 40.5356 50.3926 40.6401ZM45.9297 39.9718C45.9547 39.7497 46.0026 39.5407 46.0755 39.3501C46.1593 39.127 46.2681 38.9343 46.403 38.7775C46.5347 38.6208 46.6935 38.4999 46.8753 38.415C47.0559 38.329 47.2615 38.2865 47.4835 38.2865C47.7436 38.2865 47.9742 38.3301 48.1701 38.4183C48.3638 38.5065 48.5281 38.6295 48.6554 38.783C48.7871 38.9397 48.885 39.1291 48.9459 39.3447C49.0014 39.5341 49.0286 39.7453 49.0264 39.9718H45.9297ZM55.4896 42.622C55.2556 42.7548 54.8813 42.8223 54.3786 42.8223C54.0196 42.8223 53.6572 42.7951 53.3025 42.7418C52.9445 42.6884 52.5778 42.6079 52.2122 42.5045L52.0664 42.4631V43.715L52.1535 43.7368C52.5027 43.8217 52.8629 43.8848 53.2252 43.9229C53.5887 43.961 53.9913 43.9806 54.4222 43.9806C54.6245 43.9806 54.8335 43.9643 55.0446 43.9338C55.2556 43.9055 55.4657 43.8565 55.667 43.7923C55.8704 43.7259 56.0641 43.6421 56.2382 43.543C56.421 43.4418 56.5821 43.3166 56.7213 43.1696C56.8606 43.0259 56.9716 42.8561 57.0532 42.6645C57.1359 42.4729 57.1783 42.2562 57.1783 42.02C57.1783 41.7729 57.1392 41.5475 57.0663 41.3483C56.9912 41.148 56.8639 40.9651 56.6909 40.8062C56.5233 40.6494 56.3024 40.509 56.0369 40.3849C55.7758 40.263 55.4515 40.1454 55.0728 40.0343C54.7323 39.9342 54.4537 39.8417 54.2448 39.7567C54.0381 39.674 53.8781 39.5902 53.766 39.5107C53.6627 39.4356 53.5919 39.3594 53.5571 39.2854L53.5005 39.0252L53.5626 38.7585L53.7736 38.5429C53.8792 38.4765 54.0196 38.4232 54.1915 38.3851C54.5168 38.3121 54.9956 38.2991 55.6485 38.3829C55.9542 38.4232 56.2817 38.4852 56.619 38.568L56.7594 38.6017V37.3824L56.668 37.3639C56.3296 37.2953 56.0086 37.2485 55.7083 37.2213C54.7823 37.1375 54.0838 37.1821 53.5702 37.3661C53.2187 37.4913 52.9358 37.6513 52.728 37.8407C52.5191 38.0323 52.3667 38.2446 52.2786 38.4711C52.1926 38.6942 52.1491 38.9033 52.1491 39.0949C52.1491 39.3812 52.2024 39.6348 52.3123 39.8482C52.42 40.0594 52.5702 40.2455 52.7584 40.4023C52.9402 40.5558 53.16 40.6897 53.4146 40.8018C53.6572 40.9096 53.9292 41.0076 54.2198 41.0936C54.5973 41.2057 54.8998 41.307 55.1153 41.394C55.3264 41.4779 55.4798 41.5573 55.5777 41.6335L55.7605 41.8502L55.8117 42.1082C55.8117 42.3314 55.7061 42.5012 55.4896 42.622ZM71.5376 42.7209H69.6487V37.2941H66.4333V38.4317H68.3092V42.7209H66.2266V43.8661H71.5376V42.7209ZM43.1685 50.5683V49.3904H38V50.5683H39.902V56.6897H38V57.8785H43.1685V56.6897H41.2665V50.5683H43.1685ZM50.3643 53.6261V57.8783H49.0346V53.7143C49.0346 53.244 48.9508 52.8967 48.7832 52.6822C48.6189 52.471 48.3785 52.3676 48.0455 52.3676C47.9236 52.3676 47.8029 52.3872 47.6843 52.4242C47.5711 52.4591 47.446 52.5233 47.3165 52.6158C47.1837 52.7105 47.0412 52.8368 46.8812 53.0034C46.7235 53.1656 46.5515 53.3648 46.3666 53.5956V57.8783H45.0391V51.3062H46.2436L46.2784 52.1564C46.4014 52.0247 46.5211 51.9093 46.6397 51.8091C46.817 51.6589 46.9955 51.537 47.1674 51.4466C47.3448 51.353 47.5265 51.2855 47.7071 51.2474C47.8856 51.2104 48.0738 51.1919 48.2653 51.1919C48.9497 51.1919 49.4785 51.4009 49.8354 51.8091C50.1869 52.2141 50.3643 52.8248 50.3643 53.6261ZM54.6345 49.2443L53.306 49.5883V51.3061H51.5312V52.4579H53.306V55.653C53.306 56.4292 53.5181 57.016 53.9316 57.3959C54.3429 57.7737 54.9686 57.9664 55.7901 57.9664C56.0665 57.9664 56.3418 57.9533 56.6094 57.9261C56.8793 57.8989 57.1448 57.8499 57.3972 57.7879L57.4832 57.7661V56.5806L57.3407 56.6176C57.0893 56.6829 56.8412 56.7308 56.6029 56.7634C55.8456 56.8625 55.2787 56.7972 54.9621 56.5022C54.7455 56.3019 54.6345 55.9862 54.6345 55.566V52.4579H57.4832V51.3061H54.6345V49.2443ZM63.2016 51.4085C63.5574 51.5555 63.861 51.7634 64.1036 52.029C64.3474 52.2935 64.5334 52.619 64.6596 53.0001C64.7826 53.3735 64.8446 53.7969 64.8446 54.2574C64.8446 54.4153 64.8424 54.547 64.837 54.6537C64.8337 54.7615 64.8272 54.8627 64.8185 54.9563L64.8098 55.0608H60.3681C60.3888 55.6193 60.5586 56.0559 60.8741 56.3585C61.2125 56.6818 61.713 56.8473 62.3616 56.8473C62.552 56.8473 62.7304 56.8408 62.9078 56.8255C63.0884 56.8114 63.2658 56.7918 63.4377 56.7678C63.6085 56.7428 63.7717 56.7134 63.9284 56.6818C64.0884 56.6492 64.2331 56.6165 64.3571 56.5806L64.503 56.5392V57.6801L64.4203 57.704C64.1101 57.7901 63.7652 57.8608 63.3909 57.9131C63.0101 57.9653 62.6096 57.9925 62.2027 57.9925C61.651 57.9925 61.1646 57.9163 60.762 57.7639C60.354 57.6093 60.0156 57.384 59.7534 57.0922C59.4922 56.8005 59.2964 56.4401 59.1723 56.0188C59.0494 55.603 58.9884 55.1283 58.9884 54.6047C58.9884 54.1475 59.0559 53.7109 59.1854 53.3038C59.3192 52.8912 59.5151 52.5265 59.7686 52.2173C60.0265 51.9016 60.3431 51.6513 60.7142 51.4694C61.0852 51.2855 61.5107 51.1929 61.9818 51.1929C62.4366 51.1929 62.8458 51.2648 63.2016 51.4085ZM60.375 53.9854C60.4 53.7644 60.4501 53.5554 60.5219 53.3616C60.6057 53.1384 60.7156 52.9457 60.8494 52.789C60.9822 52.6333 61.1399 52.5124 61.3227 52.4264C61.5034 52.3415 61.7079 52.2991 61.931 52.2991C62.1911 52.2991 62.4206 52.3437 62.6143 52.4308C62.8091 52.519 62.9734 52.6409 63.1029 52.7944C63.2335 52.9523 63.3314 53.1406 63.3923 53.3572C63.4478 53.5456 63.475 53.7568 63.475 53.9854H60.375ZM69.9929 51.1922C69.6044 51.1922 69.2138 51.2978 68.8351 51.509C68.5229 51.6832 68.204 51.9455 67.8874 52.2928L67.8624 51.3054H66.6328V57.8786H67.9734V53.7287C68.1638 53.4859 68.3455 53.2791 68.5087 53.1115C68.6785 52.9362 68.8417 52.7925 68.9962 52.6771C69.1453 52.5693 69.29 52.4877 69.426 52.4409C69.5664 52.393 69.6991 52.3679 69.834 52.3679C70.1354 52.3679 70.3552 52.4757 70.5087 52.6956C70.6686 52.9242 70.7415 53.3074 70.7317 53.8376L70.7285 53.9541H72.069L72.0723 53.8441C72.0973 52.9808 71.9308 52.3189 71.575 51.8737C71.217 51.4208 70.6838 51.1922 69.9929 51.1922ZM76.1524 51.2477C76.332 51.2107 76.5202 51.1922 76.7139 51.1922C77.3972 51.1922 77.9228 51.399 78.2797 51.8095C78.6333 52.2133 78.8117 52.8241 78.8117 53.6264V57.8786H77.4821V53.7135C77.4821 53.2443 77.3972 52.8959 77.2307 52.6825C77.0653 52.4713 76.8249 52.3679 76.493 52.3679C76.3689 52.3679 76.2471 52.3875 76.1328 52.4234C76.0164 52.4605 75.8924 52.5236 75.7618 52.6161C75.629 52.7108 75.4821 52.8415 75.3287 53.0026C75.1753 53.1615 75.0066 53.3553 74.813 53.5948V57.8786H73.4844V51.3054H74.6878L74.7237 52.1578C74.8478 52.025 74.9686 51.9096 75.0861 51.8095C75.2667 51.657 75.4451 51.5351 75.6149 51.4448C75.7879 51.3533 75.9685 51.2858 76.1524 51.2477ZM85.4383 52.029C85.1946 51.7623 84.8921 51.5544 84.5374 51.4085C84.1848 51.2648 83.7757 51.1929 83.3176 51.1929C82.8443 51.1929 82.4199 51.2855 82.05 51.4694C81.6789 51.6512 81.3601 51.9038 81.1066 52.2173C80.852 52.5243 80.655 52.889 80.5212 53.3038C80.3895 53.7109 80.3242 54.1475 80.3242 54.6047C80.3242 55.1305 80.3852 55.6052 80.5092 56.0188C80.6322 56.4401 80.8291 56.8016 81.0881 57.0911C81.3503 57.384 81.6898 57.6093 82.0978 57.7628C82.5004 57.9152 82.9846 57.9925 83.5396 57.9925C83.9444 57.9925 84.3448 57.9653 84.7278 57.9131C85.101 57.8597 85.4492 57.79 85.755 57.704L85.8387 57.6801V56.5392L85.6929 56.5806C85.5613 56.6176 85.4198 56.6513 85.2631 56.6818C85.1065 56.7134 84.9432 56.7417 84.7735 56.7678C84.594 56.7918 84.4155 56.8125 84.2436 56.8255C84.0651 56.8408 83.8867 56.8473 83.6974 56.8473C83.0488 56.8473 82.5494 56.6818 82.2099 56.3585C81.8933 56.0559 81.7235 55.6193 81.7018 55.0608H86.1423L86.1521 54.9574C86.1619 54.8627 86.1695 54.7626 86.1739 54.6526C86.1782 54.547 86.1804 54.4153 86.1804 54.2574C86.1804 53.7969 86.1162 53.3724 85.9954 52.9979C85.8692 52.619 85.6831 52.2935 85.4383 52.029ZM81.8667 53.3615C81.7938 53.552 81.7449 53.7578 81.7188 53.9853H84.8177C84.8199 53.7578 84.7916 53.5466 84.7382 53.3572C84.673 53.1383 84.575 52.95 84.4455 52.7943C84.3172 52.6408 84.1528 52.5189 83.9603 52.4307C83.7633 52.3436 83.5326 52.299 83.2747 52.299C83.0517 52.299 82.846 52.3415 82.6643 52.4264C82.4826 52.5124 82.3259 52.6343 82.1932 52.7889C82.0593 52.9478 81.9483 53.1405 81.8667 53.3615ZM88.8685 49.5882L90.1959 49.2442V51.305H93.0446V52.4578H90.1959V55.5659C90.1959 55.985 90.3058 56.3007 90.5235 56.5021C90.839 56.7971 91.4092 56.8614 92.1632 56.7634C92.4026 56.7307 92.6507 56.6828 92.901 56.6175L93.0446 56.5805V57.766L92.9586 57.7878C92.7029 57.8509 92.4374 57.8988 92.1698 57.925C91.9064 57.9533 91.6322 57.9663 91.3515 57.9663C90.53 57.9663 89.9043 57.7736 89.493 57.397C89.0785 57.016 88.8685 56.4292 88.8685 55.653V52.4578H87.0938V51.305H88.8685V49.5882ZM96.7846 50.3173C96.8728 50.4076 96.974 50.4784 97.098 50.5307C97.2155 50.5796 97.3461 50.6047 97.4821 50.6047C97.6192 50.6047 97.7498 50.5796 97.8684 50.5307C97.9903 50.4795 98.0958 50.4076 98.1807 50.3173C98.2677 50.2269 98.3385 50.1213 98.3874 50.0048C98.4386 49.8862 98.4625 49.7599 98.4625 49.626C98.4625 49.4867 98.4386 49.3582 98.3874 49.2417C98.3385 49.1263 98.2677 49.0229 98.1796 48.9325C98.0915 48.8433 97.987 48.7714 97.8684 48.7192C97.6323 48.6212 97.3352 48.6212 97.0969 48.7192C96.9783 48.7714 96.8739 48.8422 96.7846 48.9325C96.6976 49.0218 96.629 49.1252 96.579 49.2428C96.5289 49.3604 96.5039 49.4888 96.5039 49.626C96.5039 49.7588 96.5278 49.8829 96.579 50.0048C96.6269 50.1235 96.6976 50.228 96.7846 50.3173ZM98.3216 51.3053V56.7343H100.209V57.8785H94.8984V56.7343H96.9832V52.4451H95.1052V51.3053H98.3216ZM42.9223 68.0417C42.7122 67.8566 42.4707 67.6944 42.2052 67.5627C41.9538 67.4343 41.684 67.3123 41.4043 67.198C41.2772 67.1453 41.1501 67.0944 41.0239 67.0439L41.0234 67.0437C40.9542 67.016 40.8853 66.9884 40.8168 66.9607L40.6133 66.878C40.3608 66.7778 40.1334 66.6657 39.9398 66.5438C39.7461 66.4218 39.5948 66.2901 39.4806 66.1388C39.3696 66.0005 39.3174 65.8351 39.3174 65.6358C39.3174 65.3082 39.4501 65.0556 39.7232 64.8629C40.005 64.6626 40.462 64.5614 41.079 64.5614C41.3695 64.5614 41.6796 64.5853 42.0017 64.6332C42.3281 64.6811 42.6502 64.753 42.9592 64.8422L43.1051 64.8836V63.6306L43.018 63.6099C42.8787 63.574 42.7242 63.5435 42.561 63.5141C42.3978 63.4836 42.2302 63.4564 42.0648 63.4346C41.8951 63.4096 41.7286 63.3922 41.5643 63.378C41.4022 63.366 41.2466 63.3595 41.1018 63.3595C40.5567 63.3595 40.0758 63.4281 39.6753 63.562C39.2727 63.6959 38.9387 63.8766 38.6808 64.0976C38.4186 64.3219 38.2238 64.5809 38.0998 64.8694C37.9757 65.1579 37.9126 65.4529 37.9126 65.7491C37.9126 66.0898 37.9801 66.3903 38.1128 66.6428C38.2423 66.891 38.4153 67.1098 38.6286 67.2916C38.8386 67.4734 39.0791 67.6313 39.3435 67.763C39.6035 67.8915 39.8723 68.0145 40.1443 68.1244C40.4131 68.2344 40.6775 68.34 40.9386 68.4434C41.1867 68.5414 41.413 68.6535 41.6122 68.7754C41.7993 68.8898 41.9538 69.0247 42.0724 69.1717C42.1802 69.31 42.2335 69.4743 42.2335 69.6736C42.2335 69.8619 42.1997 70.0306 42.1323 70.1754C42.0692 70.3148 41.9636 70.4378 41.82 70.5358C41.6677 70.6403 41.4707 70.7187 41.2324 70.772C40.9854 70.8264 40.6829 70.8536 40.3326 70.8536C39.8407 70.8536 39.3957 70.821 39.0105 70.7546C38.6199 70.6882 38.2695 70.5956 37.967 70.4824L37.8125 70.4236V71.7637L37.8974 71.7866C38.0377 71.8236 38.1977 71.8595 38.3848 71.8966C38.5655 71.9303 38.757 71.9608 38.9561 71.9858C39.14 72.0109 39.3413 72.0294 39.5883 72.049C39.8103 72.0653 40.0322 72.0762 40.252 72.0762C40.7417 72.0762 41.1976 72.025 41.6067 71.927C42.0191 71.828 42.3804 71.6745 42.6763 71.4698C42.9777 71.2652 43.2139 71.0039 43.3836 70.6958C43.5523 70.3844 43.6371 70.0187 43.6371 69.6083C43.6371 69.2642 43.5708 68.9594 43.438 68.7036C43.3074 68.4521 43.1333 68.229 42.9223 68.0417ZM44.242 71.9615L47.0602 63.4734H48.7653L51.5443 71.9615H50.0765L49.503 70.1598H46.2333L45.6522 71.9615H44.242ZM46.6287 68.9264L47.8703 65.0041L49.1074 68.9264H46.6287Z"
                      fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M23.6968 54.3358L20.3933 51.0329C18.339 53.036 16.2814 54.1105 13.3935 54.1105C9.56773 54.1105 6.62331 51.7558 5.93563 47.533H22.9602L25.0624 45.4319C24.9851 42.2117 24.1288 39.2071 22.5075 36.8513L40.2611 23.2815C42.6484 25.6689 45.9834 27.046 49.7537 27.046C54.3901 27.046 57.7187 25.2258 60.1549 22.4106L56.8514 19.1088C54.7971 21.1108 52.7395 22.1863 49.8516 22.1863C46.0259 22.1863 43.0804 19.8305 42.3948 15.6088H59.4194L61.5205 13.5078C61.3453 6.20412 57.18 0 49.1161 0C41.7082 0 36.4592 6.08655 36.4592 13.5469C36.4592 16.5864 37.2862 19.2536 38.7181 21.3993L20.9254 34.9995C18.9037 33.089 16.1475 31.9252 12.6569 31.9252C5.25012 31.9252 0 38.0107 0 45.4711C0 53.5215 5.78873 58.9701 13.2956 58.9701C14.6405 58.9701 15.8624 58.8014 16.9984 58.5151L29.1341 82.1352L31.2972 81.0237L19.3193 57.7095C21.0364 56.9028 22.4781 55.7434 23.6968 54.3358ZM49.065 4.85852C52.9898 4.85852 55.2465 7.85335 55.6382 11.681H42.3438C42.8834 7.6574 45.434 4.85852 49.065 4.85852ZM12.609 36.7839C16.5338 36.7839 18.7906 39.7776 19.1834 43.6063H5.88672C6.42642 39.5817 8.97803 36.7839 12.609 36.7839Z"
                      fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M41.9804 87.4509C41.9804 92.1723 38.1547 95.9999 33.4344 95.9999C28.7164 95.9999 24.8906 92.1723 24.8906 87.4509C24.8906 82.7306 28.7164 78.9008 33.4344 78.9008C38.1547 78.9008 41.9804 82.7306 41.9804 87.4509Z"
                      fill="#0085CA"/>
            </svg>
            <h1 class="c-hero__content__title">lumememm.ee</h1>
            <div class="c-hero__content__desc">Sinu pakkumus</div>
>>>>>>> e68b8091 (added modals windows)
        </div>
    </div>
</section>

<!-- Table -->
<div class="o-container">
    <div class="c-block">
        <h2 class="c-block__title u-h3">Ülevaade</h2>
        <table class="table--black">
            <thead>
            <tr>
                <th>Domeeninimi</th>
                <th>Lõpp</th>
                <th>Hind</th>
                <th>Käibemaksuga kokku</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>lumememm.ee</strong></td>
                <td>25-01-2023   |   17:08:34</td>
                <td>12 000 €</td>
                <td>14 400 €</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Table -->

<!-- Table-two-col -->
<div class="o-container">
    <div class="c-block">
        <div class="o-grid o-grid--two-col">
            <div>
                <h2 class="c-block__title u-h3">Pakkujad</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Pakkuja</th>
                        <th>Aeg</th>
                        <th>Viimane pakkumine</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Äri Vaist OÜ</strong></td>
                        <td>25-01-2023</td>
                        <td>14 400 €</td>
                    </tr>
                    <tr>
                        <td><strong>Artjoms Jerjomka</strong></td>
                        <td>25-01-2023</td>
                        <td>792.60 €</td>
                    </tr>
                    <tr>
                        <td><strong>Villem Villemson OÜ</strong></td>
                        <td>25-01-2023</td>
                        <td>180 €</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h2 class="c-block__title u-h3">Deposiidimaksed</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Osaleja</th>
                        <th>Aeg</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Mary-Ann O’CONNEZ-SUSLIK TESTNUMBER</strong></td>
                        <td>25-01-2023</td>
                    </tr>
                    <tr>
                        <td><strong>EID2016 TESTNUMBER</strong></td>
                        <td>25-01-2023</td>
                    </tr>
                    <tr>
                        <td><strong>VILLEM VILLEMSON</strong></td>
                        <td>25-01-2023</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Table-two-col -->
