<%= component 'common/hero', title: @offer.auction.domain_name %>

<!-- Table -->
<div class="o-container">
  <div class="c-block">
    <h2 class="c-block__title u-h3"><%= t('offers.overview') %></h2>
    <%= component 'pages/offers/blind_auction_offer_table', offer: @offer %>
  </div>
</div>
