<% content_for :hero do %>
  <div class="hero green">
    <h1><%= t('cookies.index.title') %></h1>
  </div>
<% end %>

<div class="u-container">
  <div class="margin-block">
    <%= t('cookies.index.information_html') %>
  </div>
</div>
