<% content_for :hero do %>
  <div class="hero green">
    <h1><%= t('.title') %></h1>
  </div>
<% end %>
<%#= render 'top_grid' %>
<div class="u-container">
    <div class="margin-block">
  <h2>Оптимизируйте свой веб-опыт с Google Analytics</h2>

  <p>
  Google Analytics - это мощный инструмент анализа данных, который помогает нам понимать, как вы используете наш сайт. Он собирает информацию о ваших взаимодействиях на сайте, такие как страницы, которые вы посещаете, и время, проведенное на них. Это помогает нам улучшать наш контент и предоставлять более релевантные и полезные услуги для вас.
  </p>

  <h2>Как это работает?</h2>

  <p>
  Когда вы посещаете наш сайт, Google Analytics использует файлы cookie для отслеживания ваших действий. Мы используем эту информацию для анализа тенденций, управления сайтом, отслеживания движения пользователей по сайту и сбора демографической информации о нашей аудитории в целом.
  </p>

  <h2>Ваши данные в безопасности</h2>

  <p>
  Мы уважаем вашу конфиденциальность. Все данные, собранные с помощью Google Analytics, анонимны и используются только для статистических целей. Вы можете контролировать свои предпочтения в отношении файлов cookie и отказаться от Google Analytics, если не хотите, чтобы ваши данные использовались.
  </p>

  <h2>Ваше согласие</h2>

  <p>
  Приняв наши файлы cookie, вы помогаете нам предоставлять вам лучший опыт на нашем сайте. Если вы хотите изменить свои настройки, вы можете сделать это в любое время, выбрав опцию "Настроить" в нашем уведомлении о файлах cookie.
  </p>
</div>
</div>
