<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation') %></p>

        <p><%= t('.introduction', domain_name: @domain_name) %></p>
        <p><%= t('.number_of_strikes_html', number: @past_due_invoices, linkpay_url: @linkpay_url) %></p>
        <%= t('.footer_html') %>
    </body>
</html>
