<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation', display_name: @user.display_name) %></p>
        <p><%= t('.introduction', domain_name: @domain_name) %></p>
        <p><%= t('.details', number: @past_due_invoices,
                                      valid_until: @ban.valid_until.to_date) %></p>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
