.c-news {
  padding: rem(40px 0 48px);

  @include mq(tablet) {
    padding: rem(50px 0 64px);
  }
}

.c-news__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(48px);

  @include mq(tablet) {
    margin-bottom: 54px;
  }
}

.c-news__title {
  margin: 0;
}

.c-news__item__img {
  display: flex;
  height: rem(275px);

  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.c-news__item {
  background-color: $white-color;
  @include box-shadow;
  border-radius: rem(8px);
  overflow: hidden;
}

.c-news__item__content {
  padding: rem(20px 16px);

  @include mq(tablet) {
    padding: rem(24px 20px);
  }
  @include mq(desktop) {
    padding: rem(34px 32px);
  }
}

.c-news__item__meta {
  display: flex;
  justify-content: space-between;
  margin: 0 0 rem(24px);
  color: $grey-400-color;

  .article--type {
    font-weight: 800;
    font-size: rem(14px);
    line-height: rem(20px);
    text-transform: uppercase;
    margin: 0;

    @include mq(tablet) {
      font-size: rem(13px);
    }

    @include mq(laptop) {
      font-size: rem(14px);
    }
  }

  .article--topic {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(20px);
    margin: 0;

    &::before {
      content: '#';
    }

    @include mq(tablet) {
      font-size: rem(13px);
    }
    @include mq(laptop) {
      font-size: rem(14px);
    }
  }
}

.c-news__item__title {
  margin: 0 0 rem(24px);

  @include mq(tablet) {
    font-size: rem(16px);
  }

  @include mq(laptop) {
    font-size: rem(24px);
  }


  a {
    text-decoration: none;
    color: $black-color;

    &:hover {
      color: $primary-blue-color;
    }
  }
}

.c-news__item__excerpt {
  margin: 0 0 rem(24px);
  font-weight: 500;
  line-height: rem(25px);

  & > div {
    text-align: left !important;
  }

  @include mq(tablet) {
    font-size: rem(13px);
  }

  @include mq(laptop) {
    font-size: rem(14px);
  }

  b {
    font-weight: 500;
  }

  a {
    color: $black-color;

    &:hover {
      color: $grey-400-color;
    }
  }
}

.c-news__item__footer {
  display: flex;
  justify-content: space-between;

  @include mq(tablet) {
    font-size: rem(13px);
  }

  @include mq(laptop) {
    font-size: rem(14px);
  }

  .article--date {
    display: flex;
    align-items: center;
    gap: rem(9px);
  }
}