.c-notifications {
  margin: rem(20px 0 40px);
  display: block;
}

.c-notification {
  padding: rem(24px) 0;
  border-bottom: 1px solid $grey-200-color;

  &:last-child {
    border-bottom: 0;
  }
}

.c-notification__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(8px);
  margin-bottom: rem(8px);

  @include mq(tablet) {
    flex-wrap: nowrap;
  }
}

.c-notification__header__title {
  margin: 0;
  line-height: 1.5;
  margin-top: rem(2px);
}

.c-notification__header__date {
  color: $grey-400-color;
  font-size: rem(12px);
  line-height: rem(20px);
  width: 100%;

  @media (min-width: 450px) {
    width: auto;
    margin-left: auto;
  }

  @include mq(tablet) {
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(24px);
  }
}

.c-notification__main {
  font-weight: 500;
  font-size: rem(14px);
  line-height: rem(24px);


  @include mq(tablet) {
    max-width: 90%;
  }

  @include mq(desktop) {
    max-width: 80%;
  }

  @include mq(wide) {
    max-width: 70%;
  }
}

.c-notification--read {
  .c-notification__header {
    .c-notification__header__title {
      filter: opacity(0.55);
    }

    .c-notification__header__icon {
      filter: brightness(1) grayscale(1) opacity(0.9);
    }

    .o-new {
      display: none;
    }
  }
}

.c-notification__heading {
  display: flex;
  align-items: flex-start;
  gap: rem(8px);
}

.c-notifications--ajax {
  .c-notification {

    &:last-child {
      border-bottom: 1px solid $grey-200-color;
    }
  }
}

.c-notification__empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(60px) rem(20px);
  text-align: center;
  min-height: rem(300px);
}

.c-notification__empty-icon {
  color: #94a3b8;
  margin-bottom: rem(24px);
  opacity: 0.8;
}

.c-notification__empty-icon--read {
  color: #cbd5e1;
  width: 48px;
  height: 48px;
}

.c-notification__empty-title {
  font-size: rem(18px);
  font-weight: 600;
  color: #64748b;
  margin: 0 0 rem(8px) 0;
  line-height: 1.4;
}

.c-notification__empty-description {
  font-size: rem(14px);
  color: #94a3b8;
  margin: 0;
  line-height: 1.5;
}

.c-notification__empty-state--read {
  min-height: rem(200px);
  padding: rem(40px) rem(20px);
}