.c-account--profile {
    .o-grid--two-col {
        grid-template-columns: repeat(1,1fr);
        @include mq(laptop){
            grid-template-columns: repeat(2,1fr);
        }
    }
    .o-grid--sep {
        row-gap: rem(20px);
        @include mq(tablet){
            row-gap: rem(40px);
        }
        @include mq(laptop){
            row-gap: rem(50px);
            column-gap: rem(50px);
        }
    }
  .o-card {
    height: 100%;
    &:last-child {
        background-color: transparent;
        box-shadow: unset;
        @include mq(tablet){
            padding: rem(0 48px 0 48px);
        }
        @include mq(laptop){
            padding: rem(30px 48px 48px 48px);
        }
    }
  }
  .c-account__title {
    margin-bottom: rem(24px);
    @include mq(tablet){
        margin-bottom: rem(32px);
    }
  }
  .o-checkbox-text {
    margin-left: 8px;
    @include mq(tablet){
        margin-left: rem(16px);
    }
    white-space: normal;
    &:first-child {
      margin-bottom: rem(24px);
      @include mq(tablet){
        margin-bottom: rem(32px);
    }
    }
    a {
      color: $primary-blue-color;
      text-decoration: underline;
    }
  }
  .c-account__label-explain {
    display: flex;
    justify-content: space-between;
    span {
        font-weight: 500;
        &:first-child{
            display: block;
            @include mq(tablet){
                display: inline-block;
            }
        }
    }
    & > span {
        color: $grey-400-color;
        margin-right: rem(16px);
        display: none;
        @include mq(tablet){
            display: block;
        }
        @include mq(laptop){
            display: none;
        }
        @include mq(menu){
            display: block;
        }
    }
  }

  .c-account__input-explain{
    color: $grey-400-color;
    text-align: right;
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(24px);
    display: block;
    @include mq(tablet){
        display: none;
    }
    @include mq(laptop){
        display: block;
    }
    @include mq(menu){
        display: none;
    }
  }
  .c-btn{
    font-size: 14px;
  }
  .c-account__title--confirm{
    margin-bottom: 8px;
  }
  .c-account__subtitle{
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(24px);
    margin: rem(0 0 16px 0);
    @include mq(tablet){
        margin: rem(0 0 24px 0);
    }
    @include mq(laptop){
        margin: rem(0 0 32px 0);
    }
  }
  .c-account__btns{
    justify-content: center;
    @include mq(laptop){
        justify-content: flex-start;
    }
  }
}
