.c-tabs {

}

.c-tabs__nav {
  display: flex;
}

.c-tabs__nav__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border: none;
  border-top: 1px solid $grey-100-color;
  border-right: 1px solid $grey-100-color;
  padding: rem(4px 9px 4px 13px);
  background: $white-color;
  border-radius: 0 rem(8px) 0 0;
  position: relative;
  transition: z-index 0s, all $transition;

  @include mq(tablet) {
    padding: rem(16px 20px 16px 26px);
  }

  &:hover {
    background: $green-light;
  }

  &.is-active {
    background: $gradient-green;
    border:none;
    //font-weight: 800;
    color: $white-color;

    sup {
      font-weight: 500;
    }
  }

  &:nth-child(1) {
    padding: rem(4px 9px);
    z-index: 8;
  }

  &:nth-child(2) {
    transform: translateX(rem(-6px));
    z-index: 7;
  }

  &:nth-child(3) {
    transform: translateX(rem(-12px));
    z-index: 6;
  }

  &:nth-child(4) {
    transform: translateX(rem(-18px));
    z-index: 5;
  }

  &:nth-child(5) {
    transform: translateX(rem(-24px));
    z-index: 4;
  }

  &:nth-child(6) {
    transform: translateX(rem(-30px));
    z-index: 3;
  }

  &:nth-child(7) {
    transform: translateX(rem(-36px));
    z-index: 2;
  }
}

.c-tabs__nav__btn--ind {
  margin-left: auto;
  @include btn-black;
  padding: rem(6px 16px);
  font-weight: 500;
  font-size: rem(14px);
  line-height: rem(20px);
  align-self: center;
}

.c-tabs__content__tab {
  display: none;

  &.is-active {
    display: block;
  }
}