.c-toolbar {
  color: $white-color;
  display: none;
  width: rem(375px);
  max-width: 100%;
  border-radius: rem(0 0 8px 8px);
  // overflow: hidden;
  @include box-shadow-light;
  position: absolute;
  top: rem(50.4px);
  left: 0;
  flex-grow: 1;
  z-index: 99;

  @include mq(desktop) {
    position: initial;
    border-radius: 0;
    max-width: 100%;
    min-width: unset;
    display: block;
    padding-right: 0;
    background-color: $black-color;
  }
}

.c-toolbar__grid {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mq(desktop) {
    flex-direction: row;
  }
}

.c-toolbar__nav {
  width: 100%;
  max-width: rem(375px);

  @include mq(desktop) {
    max-width: unset;
  }
}

.s-toolbar-nav {
  margin: 0;
  padding: 0 0 0 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  background: $primary-blue-color;

  @include mq(desktop) {
    background: transparent;
    padding: 0;
    flex-direction: row;
  }

  &>li a {
    font-weight: 800;

    @include mq(desktop) {
      font-weight: 500;
    }
  }

  li {
    display: flex;
    gap: rem(6px);
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    &:nth-child(1) a:hover {
      background-color: $primary-blue-color;
      color: $white-color;
    }

    &:nth-child(2) a:hover {
      background-color: $primary-green-color;
      color: $white-color;
    }

    &:nth-child(3) a:hover {
      background-color: $primary-orange-color;
      color: $white-color;
    }

    &:nth-child(4) a:hover {
      background-color: $secondary-blue-color;
      color: $white-color;
    }

    &:nth-child(n + 5) a:hover {
      color: $white-color;

      @include mq(desktop) {
        background-color: #000000;
      }
    }

    @include mq(desktop) {
      flex-wrap: nowrap;
    }
  }

  a {
    display: block;
    padding: rem(4px 0px 4px 24px);
    text-decoration: none;
    color: $white-color;
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(20px);
    transition: $transition;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      @include mq(desktop) {
        color: $primary-blue-color;
      }
    }

    @include mq(desktop) {
      padding: rem(20px 32px);
      text-transform: initial;
    }
  }

  li.is-active {
    &>a {
      @include mq(desktop) {
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
      }
    }

    a {
      font-weight: 800;

      @include mq(desktop) {
        background: $gradient-blue;
      }

      &:hover {
        color: $white-color;
      }
    }

    &:nth-child(2) {
      a {
        @include mq(desktop) {
          background: $gradient-green;
        }
      }

      .submenu {
        background: $primary-green-color;
      }
    }

    .submenu {
      display: block;

      @include mq(desktop) {
        background-color: $primary-blue-color;
        display: flex;
        position: absolute;
        top: rem(60px);
        left: 0;
        padding: 0 0 0 rem(32px);
        gap: rem(32px);
      }

      @include mq(wide) {
        gap: rem(48px);
      }

      li {
        position: relative;
      }
    }

    .submenu a,
    .submenu button {
      text-transform: uppercase;
      font-weight: 500;
      background: transparent;
      border: none;

      @include mq(desktop) {
        padding: rem(20px) 0;
      }
    }
  }

  li.hidden {
    display: none;
  }

  .submenu {
    width: 100%;
    list-style: none;
    padding: rem(0 0 0 24px);
    margin: 0;
    display: none;

    a {
      font-weight: 500;
      padding: rem(8px 0);
    }
  }

  &>li {
    padding: rem(16px 0);

    @include mq(desktop) {
      padding: 0;
    }

    &:nth-child(2) {
      background: $primary-green-color;
      box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.12);

      @include mq(desktop) {
        background: transparent;
      }
    }

    &:nth-child(3) {
      background: $primary-orange-color;

      @include mq(desktop) {
        background: transparent;
      }
    }

    &:nth-child(4) {
      background: $secondary-blue-color;

      @include mq(desktop) {
        background: transparent;
      }
    }

    &:nth-child(5) {
      background: $black-color;

      @include mq(desktop) {
        background: transparent;
      }
    }
  }

  .submenu .submenu {
    display: none;
    padding: rem(0 0 4px 12px) !important;

    @include mq(desktop) {
      display: flex;
      width: auto;
      padding: rem(4px 0) !important;
      gap: rem(4px) !important;
      position: absolute;
      top: 100%;
      left: 0;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: $transition;

      a {
        padding: rem(8px 14px) !important;
        max-width: rem(320px);
      }
    }

    a {
      word-break: break-word;
      white-space: initial;
      max-width: rem(230px);

      @include mq(tablet) {
        max-width: rem(250px);
      }

      @include mq(tablet) {
        word-break: normal;
        white-space: initial;
        max-width: rem(350px);
        min-width: rem(200px);
      }

      &:hover {
        color: $secondary-blue-color;
      }
    }
  }

  .submenu li:hover {
    .o-arrow {
      transform: rotate(180deg);
    }

    .submenu {
      opacity: 1;
      visibility: visible;
      transform: unset;
    }
  }
}

.c-toolbar__socials {
  margin-left: auto;
  margin-right: rem(24px);
  width: 100%;
  background: $white-color;
  padding: rem(16px 25px);
  display: flex;
  justify-content: space-between;

  @include mq(desktop) {
    margin-right: 0;
    width: auto;
    background: transparent;
  }
}

.c-toolbar__search {
  margin-left: auto;
  position: relative;

  .c-search {
    position: initial;
    top: unset;
    right: unset;
  }
}

.s-toolbar-nav .c-toolbar__notice-wrapper {
  display: none;

  @include mq(desktop) {
    display: flex;
  }
}

.c-header .c-toolbar__notice {
  display: flex;
  gap: rem(9px);
  align-items: center;
  white-space: nowrap;

  span {
    text-transform: capitalize;
    display: flex;
    gap: rem(4px);
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(20px);
    color: $white-color;
  }

  sup {
    top: 0.65em;
  }

  @include mq(desktop) {
    padding: rem(0 32px 0 0) !important;
  }

  &:hover {
    svg path {
      fill: $grey-200-color;
    }

    span {
      color: $grey-200-color;
    }
  }
}

.c-toolbar__lang-socials {
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.12);
  background: $white-color;
  color: $black-color;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  padding: rem(16px 25px 18px 16px);
  display: flex;
  justify-content: space-between;

  @include mq(desktop) {
    display: none;
  }

  .c-header__lang {
    .c-dropdown__label__lang {
      color: $black-color;
    }

    svg {
      fill: $black-color;
    }

    .c-dropdown__list {
      left: -0.5rem;
      right: auto;
    }
  }
}

// .c-header__lang {
//   margin-left: auto;
//   margin-right: rem(20px);
//   @include mq(desktop) {
//     margin-right: rem(32px);
//   }

//   @include mq(ultra) {
//     margin-left: 0;
//     margin-right: rem(50px);
//   }
// }
.c-header__tools {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: rem(20px);

  @include mq(desktop) {
    margin-right: rem(32px);
  }

  @include mq(ultra) {
    margin-left: 0;
    margin-right: rem(50px);
  }

  .c-toolbar__notice {
    display: flex;
    text-decoration: none;

    span {
      gap: 0;
    }

    @include mq(desktop) {
      margin-right: rem(32px);
      display: none;
    }
  }

  .c-header__lang {
    display: none;

    @include mq(desktop) {
      display: block;
    }
  }
}