<%= turbo_stream.update "mini",
                         html: "<h5>Minimum bid is #{auction.min_bids_step}</h5>".html_safe %>

<%= turbo_stream.update "current_#{auction.id}_price",
                         partial: 'english_offers/current_price',
                         locals: { auction: auction } %>

<%= turbo_stream.update "auction_timer",
                         partial: 'english_offers/timer',
                         locals: { auction: auction } %>

  <%# # def broadcast_update_min_bid
  #   broadcast_update_to("auctions_offer_#{self.id}",
  #                       target: 'mini',
  #                       html: "<h5>Minimum bid is #{min_bids_step}</h5>".html_safe)
  # end

  # def broadcast_update_highest_bid
  #   broadcast_update_to("auctions_offer_#{self.id}",
  #                       target: "current_#{self.id}_price",
  #                       partial: 'english_offers/current_price',
  #                       locals: { auction: self })
  # end

  # def broadcast_update_timer
  #   broadcast_update_to("auctions_offer_#{self.id}",
  #                       target: 'auction_timer',
  #                       partial: 'english_offers/timer',
  #                       locals: { auction: self })
  # end %>