<p><%= t('.salutation'), email: @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
    <p><%= t('.first_para', unconfirmed_email: @resource.unconfirmed_email) %></p>
<% else %>
    <p><%= t('.second_para', unconfirmed_email: @resource.email) %></p>
<% end %>
