<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation', email: @email) %></p>
        <p><%= t('.first_para') %></p>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
