<% content_for :title, t('.title') %>

<div class="o-container">
  <div class="c-table c-table--sortable">
    <% if @user.errors.any? %>
      <h3 id="error-explanation">
        <%= t(:errors_name) %>
      </h3>
      <ul id="errors">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
        <%= render 'form', user: @user, url: admin_user_path(@user) %>
  </div>
</div>
