<div id="google-tracking-id" class="ui message hidden" data-value="<%= tracking_id %>"></div>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= tracking_id %>"></script>
<%= javascript_pack_tag 'google_analytics' %>
