<% unless flash.empty? %>
  <div class="ui message flash" style='display: block; margin-bottom: 20px;' id="flash" data-controller='notificable_handler' data-notificable_handler-target='notification'>
    <% flash.each do |key, value| -%>
        <% if key == 'alert' %>
          <turbo-stream action="toast" message="<%= h value %>" position="right" background='linear-gradient(to right, #93291E, #ED213A)'></turbo-stream>
        <% else %>
          <turbo-stream action="toast" message="<%= h value %>" position="right" background='linear-gradient(to right, #11998e, #38ef7d)'></turbo-stream>
        <% end %>
    <% end %>
  </div>
<% end %>
