<footer class="site-footer">
    <div class="footer-top">
        <a class="footer-logo" href="/"> <img src="/images/eis-logo-white.svg" alt="Eesti Interneti SA"></a>
        <div class="footer-contacts">
            <div class="address">
                <h3>Eesti interneti Sihtasutus</h3>
            </div>
            <ul class="quickinfo">
                <li><i aria-hidden="true" class="envelope icon"></i><a href="mailto:info@internet.ee">info@internet.ee</a></li>
                <li><i aria-hidden="true" class="phone icon"></i>727 1000</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <nav class="menu-footer">
        </nav>
        <nav class="menu-social">
            <ul>
                <li><a href="https://www.facebook.com/EE-748656818569233/" title="Facebook"><i aria-hidden="true" class="facebook icon"></i></a></li>
                <li><a href="https://twitter.com/Eesti_Internet" title="Twitter"><i aria-hidden="true" class="twitter icon"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC7nTB6zIwZYPFarlbKuEPRA" title="Youtube"><i aria-hidden="true" class="youtube square icon"></i></a></li>
                <li><a href="https://internet.ee/index.rss" title="RSS"><i aria-hidden="true" class="rss square icon"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>
