<%= tag.div class: 'webpush-modal' do %>
  <div class='close-webpush-modal' data-action='click->push-notification#close'>X</div>
  <h2><%= t('.webpush_title') %></h2>
  <p><%= t('.webpush_descr') %></p>
  <div class='webpush--buttons_area'>
    <button id='webpush-decline' class='ui button danger' data-action='push-notification#decline'>Decline</button>
    <button id='webpush-accept' class='ui button primary' data-action='push-notification#setupPushNotifications'>Accept</button>
  </div>
<% end %>
