<% content_for :title, t('.title') %>

<div class="o-container">
    <div class="c-block c-account c-account--adresses">
        <div class="o-grid o-grid--two-col-desktop o-grid--address o-grid--sep" id='billing_profile_containers'>
            

          <% @billing_profiles.each do |billing_profile|  %>
            <%= turbo_frame_tag dom_id(billing_profile) do %>
              <%= render partial: 'billing_info', locals: { billing_profile: billing_profile } %>
            <% end %>
          <% end %>

          <%= turbo_frame_tag 'new_billing_profile' %>


        </div>
        <div class="u-text-center u-mt-48">
          <%= component 'common/links/link_button', link_title: t('billing_profiles.new.title'), href: new_billing_profile_path,
              color: 'green', options: { data: { turbo_frame: 'new_billing_profile' } } %>
        </div>
    </div>
</div>

