<%= component 'common/hero', title: 'Arve aadressid' %>

<!-- Adressess -->
<div class="o-container">
    <div class="c-block c-account c-account--adresses">
        <div class="o-grid o-grid--two-col-desktop o-grid--address o-grid--sep">
            

          <% @billing_profiles.each do |billing_profile|  %>
            <%= turbo_frame_tag dom_id(billing_profile) do %>
              <%= render partial: 'billing_info', locals: { billing_profile: billing_profile } %>
            <% end %>
          <% end %>


        </div>
        <div class="u-text-center u-mt-48">
            <a href="#" class="c-btn c-btn--green">Lisa uus aadress</a>
        </div>
    </div>
</div>
<!-- account -->
