<label class="o-checkbox-container c-login__checkbox-container">
  <span class="o-checkbox-text"><%= @label_title %></span>
  <%= @form.check_box @attribute, class: 'o-checkbox-sample', **@options %>
  <span class="o-checkmark-sample"></span>
</label>
